table.wf-info-table th a,
table.wf-rate-table th strong {
  font-weight: bold;
}

table.wf-info-table th a,
table.wf-rate-table a {
  color: #0073aa;
}

table.wf-info-table th a.get-woo-feed-pro {
  display: inline-block;
  text-decoration: none;
  background: #f3f5f6;
  color: #ff3355;
  vertical-align: top;
  font-size: 14px;
  line-height: 3.14285714;
  box-sizing: border-box;
  margin: 0;
  border-radius: 35px;
  box-shadow: 1px 2px 10px 1px rgba(255, 51, 85, 0.5);
}

table.wf-info-table th a.get-woo-feed-pro img {
  display: block;
  position: relative;
  margin: -2px;
  width: 180px;
  height: auto;
}

table.wf-info-table th a.button {
  border-color: #0073aa;
  border-radius: 35px;
}

table.wf-info-table th a.documentation {
  color: #0073aa;
}

table.wf-info-table th a.tutorial {
  color: #ee264a;
}

table.wf-info-table th a.support {
  color: #0DD41E;
}

/**
* Premium Page Design
*/
.wp-submenu li span.woo-feed-premium {
  font-weight: bold;
  color: #28e499;
}

.wp-submenu li:hover span.woo-feed-premium,
.wp-submenu li.current span.woo-feed-premium {
  color: #1dc381;
}

.woo_feed_free_manage_attribute {
  margin: 0 auto;
  width: 100%;
}

.woo_feed_screenshort {
  max-width: 100%;
  width: 1000px;
  border: 3px solid #00b9eb;
  display: block;
  margin: 0 auto;
}

.woo-feed-screen-shot-title {
  font-size: 36px;
  text-align: center;
  box-sizing: content-box;
  color: #00b9eb;
}

.woo_feed_screen {
  background: #fff;
  padding: 25px 20px;
  margin-bottom: 20px;
}

.woo_feed_screen_des {
  text-align: center;
  margin: 20px 50px 20px 50px;
  font-size: 16px;
  color: #666;
}

.woo_feed_screen_des_2 {
  text-align: center;
  margin: 20px 50px 5px 50px;
  font-size: 14px;
  color: #32373c;
}

.wapk-admin .wapk-feed-upgrade {
  font-family: "Open Sans", sans-serif;
  margin: -10px -20px 0 -22px;
}

.wapk-admin .wapk-feed-upgrade a {
  transition: all 0.2s ease;
}

.wapk-admin .section-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.5em;
  font-weight: 400;
  position: relative;
  margin: 0 0 58px;
}

.wapk-admin .section-title:after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 38px;
  height: 5px;
  border-radius: 3px;
  background-color: #00D4D4;
}

.wapk-admin .section-title .section-sub-title {
  font-size: 22px;
  font-weight: 300;
}

.wapk-admin .wapk-banner {
  background-color: #f2f2f2;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 8%;
  border-bottom: 1px solid #eee;
}

.wapk-admin .wapk-banner .wapk-banner__graphics {
  width: 100%;
}

.wapk-admin .wapk-banner .wapk-banner__content h1 {
  font-size: 27px;
  line-height: 1.5em;
}

.wapk-admin .wapk-banner .wapk-banner__content p {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  /*noinspection CssFloatPxLength*/
  letter-spacing: 0.5px;
}

.wapk-admin .wapk-feed-features .wapk-feed-feature__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
}

.wapk-admin .wapk-feed-features .wapk-feed-features__more {
  margin-top: 25px;
}

.wapk-feed-feature__item {
  -ms-flex: 0 0 47%;
  flex: 0 0 47%;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 40px;
  box-shadow: 0 0 5px rgba(115, 115, 166, 0.15);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.wapk-feed-feature__item:nth-child(2n+1) {
  margin-right: 20px;
}
.wapk-feed-feature__item:nth-child(2n+2) {
  margin-left: 20px;
}
.wapk-feed-feature__item:hover {
  box-shadow: 0px 10px 10px rgba(17, 17, 85, 0.15);
}

.wapk-feed-feature__thumb {
  overflow: hidden;
}

.wapk-feed-feature__links a, .wapk-feed-buy-now-btn a {
  display: inline-block;
  background: linear-gradient(67.36deg, #3D41DA 3.09%, #0088F7 64.97%);
  font-weight: 600;
  padding: 12px 32px 12px 48px;
  border-radius: 5px;
  margin-top: 24px;
  color: white;
  text-decoration: none;
  position: relative;
}
.wapk-feed-feature__links a:before, .wapk-feed-buy-now-btn a:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: 16px;
  margin-left: -20px;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12%208.66667V12.6667C12%2013.0203%2011.8595%2013.3594%2011.6095%2013.6095C11.3594%2013.8595%2011.0203%2014%2010.6667%2014H3.33333C2.97971%2014%202.64057%2013.8595%202.39052%2013.6095C2.14048%2013.3594%202%2013.0203%202%2012.6667V5.33333C2%204.97971%202.14048%204.64057%202.39052%204.39052C2.64057%204.14048%202.97971%204%203.33333%204H7.33333%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M10%202H14V6%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M6.66699%209.33333L14.0003%202%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.wapk-feed-feature__item:hover .wapk-feed-feature__links a, .wapk-feed-feature__item:hover .wapk-feed-buy-now-btn a {
  opacity: 1;
}

.wapk-feed-feature__item .wapk-feed-feature__thumb img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: all 100ms linear;
}

.wapk-feed-feature__item .wapk-feed-feature__description h3 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 500;
  margin-top: 20px;
}

.wapk-feed-feature__item .wapk-feed-feature__description p {
  margin: 20px auto 0;
}

.wapk-admin .feed-pro-comparison {
  background-color: #f1f1f1;
  padding: 75px;
}

.wapk-admin .wapk-feed-features {
  text-align: center;
  max-width: 1320px;
  margin: 40px auto 0;
}

.wapk-feed-buy-now {
  margin-bottom: 40px;
}

.wapk-feed-buy-now-container {
  background: #ffffff;
  padding: 0.75rem;
  z-index: 999999999;
  left: 160px;
  right: 0;
  bottom: -100%;
}
.wapk-feed-buy-now-container.fixed {
  bottom: 0;
  position: fixed;
}

.wapk-feed-buy-now-wrapper {
  max-width: 1320px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wapk-feed-buy-now-thumbnail {
  float: left;
}
.wapk-feed-buy-now-thumbnail img {
  width: 3.75rem;
  height: auto;
  padding: 0.1875rem;
}

.wapk-feed-buy-now-product-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.wapk-feed-buy-now-product-meta {
  float: right;
}

.wapk-feed-buy-now-product-description {
  max-width: 460px;
  line-height: 1.5;
}

.wapk-feed-buy-now-details {
  float: left;
  margin-top: 9px;
}

.wapk-feed-buy-now-title {
  float: left;
  margin-left: 1.5rem;
  max-width: 180px;
  line-height: 1.15;
}

.wapk-feed-buy-now-product-name {
  font-size: 16px;
  font-weight: 700;
}

.wapk-feed-buy-now-product-description {
  float: right;
  font-size: 1rem;
  margin-left: 1.5rem;
}

.wapk-feed-buy-now-price {
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 6px;
}

.wapk-feed-buy-now-product-meta {
  margin: 0 0 0 42px;
}
.wapk-feed-buy-now-product-meta div {
  display: inline-block;
  margin-left: 20px;
}

.wapk-feed-buy-now-btn a {
  margin-top: 0;
}
.wapk-feed-buy-now-btn a:before {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%0A%3Cpath%20d%3D%22M5.99967%2014.6668C6.36786%2014.6668%206.66634%2014.3684%206.66634%2014.0002C6.66634%2013.632%206.36786%2013.3335%205.99967%2013.3335C5.63148%2013.3335%205.33301%2013.632%205.33301%2014.0002C5.33301%2014.3684%205.63148%2014.6668%205.99967%2014.6668Z%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M13.3337%2014.6668C13.7018%2014.6668%2014.0003%2014.3684%2014.0003%2014.0002C14.0003%2013.632%2013.7018%2013.3335%2013.3337%2013.3335C12.9655%2013.3335%2012.667%2013.632%2012.667%2014.0002C12.667%2014.3684%2012.9655%2014.6668%2013.3337%2014.6668Z%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M0.666992%200.666504H3.33366L5.12033%209.59317C5.18129%209.9001%205.34826%2010.1758%205.59202%2010.372C5.83578%2010.5683%206.14079%2010.6725%206.45366%2010.6665H12.9337C13.2465%2010.6725%2013.5515%2010.5683%2013.7953%2010.372C14.0391%2010.1758%2014.206%209.9001%2014.267%209.59317L15.3337%203.99984H4.00033%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
}

.folded.sticky-menu .wapk-feed-buy-now-container {
  left: 36px;
}
@media (max-width: 780px) {
  .folded.sticky-menu .wapk-feed-buy-now-container {
    left: 0;
  }
}

@media (max-width: 780px) {
  .wapk-feed-buy-now-container {
    left: 0;
  }
}
@media (min-width: 781px) and (max-width: 960px) {
  .wapk-feed-buy-now-container {
    left: 36px;
  }
}
@media (max-width: 1120px) {
  .wapk-feed-buy-now-product-container {
    float: none;
    margin: 0 auto;
  }

  .wapk-feed-buy-now-product-meta {
    float: none;
    clear: both;
    margin: 10px auto 0;
    text-align: center;
    display: block;
  }

  .wapk-feed-buy-now-wrapper {
    max-width: 1035px;
    margin: 0 auto;
    display: block;
  }

  .wapk-feed-buy-now-thumbnail {
    float: none;
    margin: 0 auto;
  }

  .wapk-feed-buy-now-product-container {
    float: none;
    display: block;
    text-align: center;
  }

  .wapk-feed-buy-now-product-meta {
    float: none;
    margin-top: 1.5rem;
  }

  .wapk-feed-buy-now-product-description {
    max-width: 500px;
    line-height: 1.5;
    margin: 0 auto;
  }

  .wapk-feed-buy-now-details {
    float: none;
    margin-top: 10px;
    text-align: center;
  }

  .wapk-feed-buy-now-title {
    float: none;
    clear: both;
    max-width: 100%;
    margin: 1rem 0;
  }

  .wapk-feed-buy-now-product-description {
    float: none;
    margin-top: 10px;
  }
}
@media (max-width: 449px) {
  .wapk-feed-buy-now-product-meta div {
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto 0;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wapk-feed-buy-now-price:before {
    position: unset;
    margin-top: -6px;
    margin-right: 6px;
  }
}
.wapk-admin .wapk-feed-features .section-title h2,
.wapk-admin .wapk-testimonial .section-title h2,
.wapk-admin .feed-pro-comparison .section-title h2,
.wapk-admin .feed-pricing .section-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.wapk-admin .comparison-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wapk-admin .comparison-table .comparison {
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  background-color: #fff;
  border: 1px solid #e0e9ec;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 50px;
  box-sizing: border-box;
}

.wapk-admin .comparison .product-header {
  margin-bottom: 58px;
  position: relative;
}

.wapk-admin .comparison .product-header:after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 38px;
  height: 5px;
  border-radius: 3px;
  background-color: #d7d7d7;
}

.wapk-admin .comparison .product-header img {
  max-width: 160px;
  width: 100%;
}

.wapk-admin .comparison .product-features {
  margin: 0;
}

.wapk-admin .comparison li {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 300;
  -ms-flex-align: center;
  align-items: center;
}

.wapk-admin .comparison li.unavailable {
  color: #CED2D6;
}

.wapk-admin .comparison li span.dashicons {
  position: absolute;
  top: 1px;
  left: 6px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #00D4D4;
  color: #FFF;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
}

.wapk-admin .comparison li.unavailable {
  color: #CED2D6;
}

.wapk-admin .comparison li.unavailable span.dashicons {
  background: #CED2D6;
}

.wapk-admin .comparison li span.dashicons-no {
  font-size: 12px;
}

.wapk-admin .comparison li span.dashicons-no:before {
  left: 0;
}

.wapk-admin .comparison li span.dashicons:before {
  position: relative;
  left: -0.5px;
  top: -2px;
}

.wapk-admin .comparison li img {
  width: 18px;
  margin-right: 12px;
}

.wapk-pricing__table {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
}

.wapk-pricing__table__item {
  position: relative;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
}

.wapk-price__table__wrapper {
  position: relative;
  padding: 10px;
}

.wapk-price__table {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.wapk-price__table__header {
  background-color: #fff;
  padding: 40px 0 0;
}

.wapk-price__table__heading {
  color: #6d7882;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.wapk-price__table__price {
  font-family: sans-serif;
  font-weight: 600;
  padding: 30px 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #434363;
  font-size: 45px;
}

.wapk-price__table__currency {
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #434363;
  line-height: 1;
  font-size: 0.3em;
  margin-right: 3px;
}

.wapk-price__table__amount .free,
.wapk-price__table__amount .integer-part {
  color: #434363;
  line-height: 0.8;
}

.wapk-price__table__amount .decimal-part {
  font-size: 14px;
  font-weight: 400;
}

.wapk-price__table__amount .period {
  font-size: 14px;
  font-weight: 400;
}

.wapk-price__table__amount___legend {
  width: 100%;
  color: #FF4B4B;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5em;
}

.wapk-price__table__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #697279;
  text-align: left;
}

.wapk-price__table__features li.item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.5em;
}

.wapk-price__table__features li:not(:first-child):before {
  content: "";
  display: block;
  /* border: 0 solid hsla(0,0%,48%,.3); */
  margin: 10px 12.5%;
}

.wapk-price__table__feature {
  display: block;
  margin-left: calc(((100% - 80%) / 2) + 20px);
  margin-right: calc((100% - 80%) / 2);
}

span.wapk-price__table__feature span.dashicons {
  margin-left: -20px;
  top: 2px;
  position: relative;
}

.wapk-price__table__footer {
  padding: 40px 0;
}

.wapk-price__table__footer a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 100px 100px 100px 100px;
  padding: 16px 42px;
  transition: all 250ms;
}

.wapk-price__table__footer a:hover,
.wapk-price__table__footer a:focus,
.wapk-price__table__footer a:active {
  -webkit-transform: scale(1.02) !important;
  transform: scale(1.02) !important;
}

.wapk-price__table__ribbon {
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 150px;
  overflow: hidden;
  height: 150px;
}

.wapk-price__table__ribbon__inner {
  background: #FF4B4B;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 11px;
  /*noinspection CssFloatPxLength*/
  letter-spacing: 1.1px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.21);
  text-align: center;
  left: 0;
  width: 200%;
  -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
  margin-top: 35px;
  line-height: 2;
  text-transform: uppercase;
}

.wapk-admin .wapk-payment {
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 85px 65px 85px;
  -ms-flex-align: center;
  align-items: center;
}

.wapk-payment .payment-guarantee {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 63%;
  flex: 0 0 63%;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.wapk-payment .payment-guarantee:after {
  content: "";
  position: absolute;
  right: -18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5px;
  height: 38px;
  border-radius: 3px;
  background: #00D4D4;
}

.wapk-payment .payment-guarantee .guarantee-seal img {
  max-width: 100%;
  width: 280px;
}

.wapk-payment .payment-guarantee .guarantee-detail {
  padding-left: 25px;
}

.wapk-payment .payment-guarantee .guarantee-detail h2 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
}

.wapk-payment .payment-guarantee .guarantee-detail p {
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 5px 0 20px;
}

.wapk-payment .payment-guarantee .guarantee-detail a {
  color: #00D4D4;
  font-size: 15px;
  line-height: 1.5em;
  text-decoration: none;
}

.wapk-payment .payment-guarantee .guarantee-detail a span.dashicons,
.wapk-payment .payment-guarantee .guarantee-detail a img {
  width: 18px;
  margin-right: 4px;
  margin-top: 1px;
}

.wapk-payment .payment-options {
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
}

.wapk-payment .payment-options h3 {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 17px;
}

.wapk-payment .payment-options .options h4 {
  color: #CED2D6;
}

.wapk-payment .payment-options .options li {
  float: left;
  overflow: hidden;
}

.wapk-payment .payment-options .options li img {
  height: 20px;
  margin-right: 5px;
}

/** Testimonial **/
.wapk-admin .wapk-testimonial-wrapper:before {
  content: "";
  position: absolute;
  left: 79px;
  top: -15px;
  width: 80px;
  height: 56px;
  border-radius: 3px;
  background: transparent url(../images/block-quote.svg) no-repeat;
  background-size: cover;
}

.wapk-admin .wapk-testimonial-wrapper {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.testimonial-item__user .avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  border: 3px solid #efefef;
  overflow: hidden;
}

.testimonial-item {
  margin-bottom: 25px;
}

.testimonial-item__user .avatar img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.testimonial-item__comment {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto 30px;
}

.testimonial-item__user h4.author-name {
  font-size: 25px;
  font-weight: 300;
  margin: 10px auto;
}

.testimonial-item__user span.author-meta {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (min-width: 1281px) {
  .wapk-admin .wapk-payment {
    padding-left: 15%;
    padding-right: 15%;
  }

  .wapk-admin .feed-pro-comparison {
    padding-left: 21.2%;
    padding-right: 21.2%;
  }

  .wapk-admin .wapk-testimonial-wrapper {
    width: 55%;
  }
}
@media screen and (max-width: 782px) {
  .wapk-admin .wapk-feed-features {
    display: block;
  }

  .wapk-feed-feature__item {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    width: 80%;
  }
  .wapk-feed-feature__item:nth-child(2n+1) {
    margin-right: initial;
  }
  .wapk-feed-feature__item:nth-child(2n+2) {
    margin-left: initial;
  }
}
.wapk-feed-pro-upgrade .wapk-feed-cta,
.wapk-feed-docs .wapk-feed-cta,
.wapk-admin .feed-pro-comparison,
.wapk-admin .wapk-payment,
.wapk-admin .wapk-testimonial,
.wapk-admin .wapk-feed-banner {
  margin: 0;
}

.wapk-feed-banner .wapk-banner {
  margin: 0;
  padding: 0;
}