/*--------------------------------------------------------------
##  Common CSS
--------------------------------------------------------------*/
.sp-wpcp-wrapper {
	margin-bottom: 0;
}
#wpcpro-wrapper img {
	max-width: 100%;
	height: auto;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-standard {
	overflow: hidden;
	padding-right: 2px;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-standard.slick-initialized {
	position: relative;
}
#wpcpro-wrapper .wpcp-carousel-section.slick-initialized .slick-slide,
#wpcpro-wrapper .wpcp-carousel-section .wpcp-single-item {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}
#wpcpro-wrapper .wpcp-all-captions li {
	list-style: none;
}
#wpcpro-wrapper .wpcp-all-captions li,
#wpcpro-wrapper .wpcp-carousel-section ul,
#wpcpro-wrapper .wpcp-carousel-section p,
.wpcp-image-carousel .wpcp-single-item .wpcp-all-captions h2 {
	margin: 0;
}
#wpcpro-wrapper .wpcp-carousel-section .wpcp-slide-image a {
	display: block;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-image-carousel .wpcp-slide-image,
#wpcpro-wrapper .wpcp-carousel-section.wpcp-post-carousel .wpcp-slide-image,
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-slide-image{
	overflow: hidden;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-image-carousel .wpcp-slide-image img,
#wpcpro-wrapper .wpcp-carousel-section.wpcp-post-carousel .wpcp-slide-image img,
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-slide-image img{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/*--------------------------------------------------------------
##  RTL CSS
--------------------------------------------------------------*/
#wpcpro-wrapper .sp-wpcp-wrapper .bx-viewport{ direction: ltr; }
#wpcpro-wrapper .wpcp-carousel-section.sp-rtl .slick-prev{
	right: 35px;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center.sp-rtl .slick-prev{
	margin-left: -35px;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center.sp-rtl .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center.sp-rtl .slick-next{
	margin-left: 2px;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-top-left.sp-rtl .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-left.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left.sp-rtl .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center.sp-rtl .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center.sp-rtl .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover.sp-rtl .slick-prev {
	right: auto;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-top-left.sp-rtl .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left.sp-rtl .slick-prev{
	left: 0;
}
/*--------------------------------------------------------------
##  Image Carousel
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-carousel-section .wpcp-single-item img {
	margin: 0 auto;
	max-width: 100%;
	box-shadow: none;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-image-carousel .wpcp-single-item .wpcp-all-captions {
	padding: 10px 20px 15px;
}
#wpcpro-wrapper .wpcp-carousel-section .wpcp-single-item .wpcp-all-captions .wpcp-image-description{
	margin: 6px 0 0;
}
#wpcpro-wrapper .wpcp-carousel-section .wpcp-single-item .wpcp-slide-image a:focus{
	outline: none;
}
#wpcpro-wrapper .wpcp-carousel-section .slick-slide:focus {
	outline: none;
}

#wpcpro-wrapper .wpcp-carousel-section a, #wpcpro-wrapper .wpcp-carousel-section a:hover,
#wpcpro-wrapper .wpcp-carousel-section .wpcp-all-captions a {
	text-decoration: none;
}

#wpcpro-wrapper .wpcp-single-item figure{
   position: unset;
   transform: none;
}

/*--------------------------------------------------------------
## post Carousel
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-post-carousel .wpcp-single-item .wpcp-all-captions {
	padding: 15px 20px 0;
	overflow: hidden;
}

#wpcpro-wrapper .wpcp-post-carousel .wpcp-single-item .wpcp-all-captions h2 {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 10px;
}

#wpcpro-wrapper .wpcp-single-item h2 a {
	color: #444;
	text-decoration: none;
}

#wpcpro-wrapper .wpcp-post-carousel .wpcp-single-item .wpcp-all-captions .post-categories {
	margin: 0 0 7px;
	padding: 0;
	display: block;
}
#wpcpro-wrapper .wpcp-post-carousel .wpcp-single-item .wpcp-all-captions .post-categories li {
	text-align: center;
	display: inline-block;
}
#wpcpro-wrapper .wpcp-post-carousel .wpcp-all-captions p {
	margin-bottom: 15px;
}

#wpcpro-wrapper .wpcp_readmore {
	border: 1px solid;
	display: inline-block;
	background: #22afba;
	margin: 0 0 14px;
	line-height: 32px;
	padding: 5px 14px;
	font-weight: 600;
}

#wpcpro-wrapper .wpcp_readmore, .wpcp_readmore:focus,
#wpcpro-wrapper .wpcp_readmore:hover {
	color: #fff;
}
#wpcpro-wrapper .wpcp-single-item .wpcp-all-captions .wpcp-post-meta {
	margin: 0 0 20px;
	padding: 0;
}
#wpcpro-wrapper .wpcp-post-carousel .wpcp-post-meta li {
	display: inline-block;
	margin-right: 5px;
}

#wpcpro-wrapper .wpcp-post-carousel .wpcp-post-meta li:last-child {
	margin-right: 0;
}

#wpcpro-wrapper .wpcp-post-meta li, .wpcp-post-meta li a {
	color: #999;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-with-overlay .wpcp-all-captions {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-with-overlay.overlay-lower .wpcp-all-captions {
	top: auto;
	display: block;
	height: auto;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-on-left .wpcp-single-item,
#wpcpro-wrapper .wpcp-carousel-section.detail-on-right .wpcp-single-item,
#wpcpro-wrapper .wpcp-carousel-section.detail-on-top .wpcp-single-item {
	display: flex !important;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-on-left .wpcp-single-item {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
#wpcpro-wrapper .wpcp-carousel-section.detail-on-top .wpcp-single-item {
	-webkit-flex-direction: column-reverse; 
	flex-direction: column-reverse;
}
#wpcpro-wrapper .wpcp-carousel-section.detail-on-left .wpcp-single-item .wpcp-slide-image,
#wpcpro-wrapper .wpcp-carousel-section.detail-on-left .wpcp-single-item .wpcp-all-captions,
#wpcpro-wrapper .wpcp-carousel-section.detail-on-right .wpcp-single-item .wpcp-slide-image,
#wpcpro-wrapper .wpcp-carousel-section.detail-on-right .wpcp-single-item .wpcp-all-captions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 50%;
}
/*
 Overlay visible on hover.
*/
#wpcpro-wrapper .wpcp-carousel-section.detail-with-overlay.overlay-on-hover .wpcp-all-captions {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-with-overlay.overlay-on-hover .wpcp-single-item:hover .wpcp-all-captions {
	visibility: visible;
	opacity: 1;
}

#wpcpro-wrapper .wpcp-carousel-section.detail-with-overlay .wpcp-single-item {
	position: relative;
}

#wpcpro-wrapper .wpcp-carousel-section .wpcp-single-item:focus {
	outline: none;
}

/*--------------------------------------------------------------
## Product Carousel
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-product-image{
	border: 1px solid #efefef;
}
#wpcpro-wrapper .wpcp-product-title{
	margin: 0;
}
#wpcpro-wrapper .wpcp-product-price {
	margin-top:5px;
}
#wpcpro-wrapper .wpcp-product-carousel .wpcp-single-item .wpcp-all-captions {
	padding: 15px 20px 0;
	overflow: hidden;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-cart-button {
	margin-top: 12px;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-cart-button a.button {
	font-weight: 500;
	border: 1px solid #d1d1d1;
	background: #ebebeb;
	padding: 11px 20px;
    line-height: 1.2;
    display: inline-block;
    font-size: 14px;
}
#wpcpro-wrapper .wpcp-product-more-content {
	margin-top: 8px;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-product-more-content a {
	text-decoration: underline;
}

#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-product-more-content a:hover {
	text-decoration: none;
}

#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-all-captions .wpcp-cart-button a.add_to_cart_button.added {
	display: none;
}

#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-all-captions .wpcp-cart-button .added_to_cart {
	font-size: 100%;
	margin: 0;
	line-height: 38px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: 0 20px;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	color: #515151;
	background-color: #ebe9eb;
	border: 0;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: 1px solid;
}

#wpcpro-wrapper .wpcp-carousel-section.wpcp-product-carousel .wpcp-all-captions .wpcp-cart-button .wc-forward::after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: -.125em;
	font: normal normal normal 14px/1 FontAwesome;
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	content: "\f178";
	margin-left: 0.5407911001em;
}

/*--------------------------------------------------------------
## Content Carousel
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-carousel-section.wpcp-content-carousel .wpcp-single-item{
	padding-left: 15px;
	padding-right: 15px;
}

/*--------------------------------------------------------------
## Video Carousel
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-video-carousel .wpcp-all-captions {
	padding: 10px 15px;
}
.mfp-iframe-holder .mfp-close{
	background: transparent;
}
#wpcpro-wrapper .wpcp-carousel-section.wpcp-video-carousel .wpcp-single-item .wpcp-slide-image {
	position: relative;
}

#wpcpro-wrapper .wpcp-single-item.wcp-video-item i {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: auto;
	right: 50%;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
	margin-top: -20px;
	margin-right: -18px;
	z-index: 5;
	font-family: fontawesome;
	font-weight: normal;
}

/*--------------------------------------------------------------
## Carousel Navigation
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-carousel-section .slick-prev:before,
#wpcpro-wrapper .wpcp-carousel-section .slick-next:before,
#wpcpro-wrapper .wpcp-carousel-section .slick-prev:after,
#wpcpro-wrapper .wpcp-carousel-section .slick-next:after {
	display: none;
}

#wpcpro-wrapper .wpcp-carousel-section .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover:hover .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner .slick-prev {
	left: 0;
}

#wpcpro-wrapper .wpcp-carousel-section .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-right .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-right .slick-next {
	right: 0;
}

#wpcpro-wrapper .wpcp-carousel-section .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section .slick-next {
	border: 1px solid;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	z-index: 22;
	left: auto;
	top: auto;
	font-size: 20px;
	-webkit-transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	transition: ease all 0.3s;
	margin-top: -15px;
	cursor: pointer;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center {
	padding: 0 45px;
}
#wpcpro-wrapper .wpcp-carousel-section .slick-prev i,
#wpcpro-wrapper .wpcp-carousel-section .slick-next i,
#wpcpro-wrapper .wpcp-carousel-section .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section .slick-next {
	line-height: 28px;
	font-family: fontawesome;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-left,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-right {
	padding-top: 50px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-left .slick-next, #wpcpro-wrapper .wpcp-carousel-section.nav-top-left .slick-prev, #wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-next, #wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-prev, #wpcpro-wrapper .wpcp-carousel-section.nav-top-right .slick-prev, #wpcpro-wrapper .wpcp-carousel-section.nav-top-right .slick-next {
	top: 15px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-right .slick-prev {
	right: 36px;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-prev  {
	left: 50%;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-prev {
	margin-left: -25px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-center .slick-next {
	margin-left: 12px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-top-left .slick-next {
	left: 36px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center, 
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-right{
	padding-bottom: 10px;
}
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-prev, 
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-right .slick-next, 
#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-right .slick-prev {
	bottom: 0;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-right .slick-prev {
	right: 36px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-prev {
	margin-left: -25px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-center .slick-next {
	margin-left: 12px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-bottom-left .slick-next { 
	left: 36px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner .slick-next, #wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner .slick-prev, #wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-next, #wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-prev {
	top: 50%;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-prev {
	left: 1px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner .slick-prev,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-next,
#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center .slick-prev {
	margin-top: -15px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-prev {
	left: -35px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover .slick-next {
	right: -35px;
}

#wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center-inner-hover:hover .slick-next {
	right: 2px;
}

/*--------------------------------------------------------------
## Carousel Pagination Dots.
--------------------------------------------------------------*/
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots {
	list-style: none;
	padding: 0 !important;
	margin: 0;
	text-align: center;
	margin-top: 18px;
	position: relative;
}
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li {
	display: inline;
	margin: 0;
}
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li button {
	background-color: #cccccc;
	border: 0 solid;
	border-radius: 50%;
	font-size: 0;
	margin: 3px;
	overflow: hidden;
	padding: 0;
	text-indent: -999px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots,
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li,
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li button {
	line-height: 1 !important;
}
#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li button:focus,
#wpcpro-wrapper .wpcp-carousel-section button.slick-arrow:focus {
	outline: none;
}

#wpcpro-wrapper .wpcp-carousel-section ul.slick-dots li.slick-active button {
	background-color: #666;
}