.wooatm-hndle{
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
  cursor: move;
}
.wooatm-handlediv,
.wooatm-remove{
  float: right;
  width: 27px;
  height: 30px;
  cursor: pointer;
}
.wooatm-handlediv:before{
  right: 12px;
  font: 400 20px/1 dashicons;
  speak: none;
  display: inline-block;
  padding: 8px 10px;
  top: 0;
  position: relative;
  content: "\f140";
}
.wooatm-opened .wooatm-handlediv:before{
  content: "\f142"; 
}
.wooatm-remove:before{
  right: 10px;
  font: 400 20px/1 dashicons;
  speak: none;
  display: inline-block;
  padding: 8px 10px;
  top: 0;
  position: relative;
  content: "\f153";
  color: red;
}
ul#wooatm-fields li {
  position: relative;
  width: 98%;
  display: inline-block;
  margin: 15px 0 0px 0;
  border: 1px solid #eee;
}
ul#wooatm-fields .wp-editor-area,
ul#wooatm-fields iframe{
  min-height: 250px !important;
}
.wooatm-title{
  padding: 5px;
  width: 100%;
  margin: 15px 0px;
}
.wooatm-inside{
  display: none;
  padding: 5px 10px;
}
.wooatm-add-new img{
  margin-top: 4px;
  margin-left: 5px;
  display: none;
}
.wooatm-sort-placeholder{
  padding: 18px 0px;
  border: 1px dashed #ccc !important;
}