ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}
.resp-tabs-list li:last-child{
  margin-right: 0;
}
.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}
.wooatm-tabs-container{
  margin-bottom: 20px;
}
.resp-easy-accordion .resp-tabs-container{
  background: transparent;
}
h2.resp-accordion {
  cursor: pointer;
  display: none;
}
.resp-tab-content {
  display: none;
  padding: 15px;
}
body .resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px;
}
.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}
li.resp-tab-item{
  border: 1px solid #c1c1c1;
  border-bottom: 0px;
  margin-bottom: -1px;
}
.resp-vtabs li.resp-tab-item{
  border-bottom: 1px solid #c1c1c1;
  border-right: 0px;
}
.resp-content-active,
.resp-accordion-active { display: block; }
.resp-tab-content { border: 1px solid #c1c1c1; }
h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
}
h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1;
  margin-bottom: 0px;
}
h2.resp-accordion .wootitle{
  padding: 10px 15px;
  display: block;
  font-weight: normal;
}
h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1;
  background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 23%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px;
  margin: 0;
  cursor: pointer;
  float: none;
}
.resp-vtabs .resp-tabs-container {
  padding: 0px;
  border: 1px solid #c1c1c1;
  float: left;
  width: 75%;
  min-height: 250px;
  clear: none;
}
@media only screen and (max-width: 1080px) {
  .resp-vtabs .resp-tabs-container{
    width: 68%;
  }
  .resp-vtabs ul.resp-tabs-list{
    width: 31%;
  }
}
.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  position: relative;
  z-index: 1;
  margin-right: -1px;
  padding: 14px 15px 15px 14px;
}
.resp-arrow {
  float: right;
  margin-top: 0px;
  width: 36px;
  height: 34px;
  text-align: center;
  line-height: 37px;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active { background: #DBDBDB; }

.resp-easy-accordion h2.resp-accordion { display: block; padding: 1px 0px; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1; }
.resp-jfit {
  width: 100%;
  margin: 0px;
}
.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1; margin-top: 0; }
@media only screen and (max-width: 768px) {
/*
ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }*/

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}
.style1 .resp-tab-content,.style2 .resp-tab-content{
  background: transparent !important;
  border: none !important;
}
.resp-tabs-container{ background: transparent !important; }
.style2 .resp-tabs-container{
  padding: 5px;
}
.resp-accordion-closed { display: none; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1; }
}

/* Accordion 1 style */
.style1 h2.resp-accordion{
  border: none !important;
  border-radius: 6px;
}
.style1.resp-easy-accordion .resp-tab-content{
  background: transparent !important;
  border: none !important;
}
/* Accordion 2 style */
.style2.resp-easy-accordion .resp-tabs-container{
  padding: 10px;
  background: #fff;
}
.style2  h2.resp-accordion{
  border: none;
  background: transparent !important;
  padding: 0px 5px;
}
.style2 h2.resp-accordion .wootitle{
  padding-left: 0px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}
.style2.resp-easy-accordion .resp-tab-content{
  background: transparent !important;
  border: none !important;
}

/* Tab 1 style */
.tab1 .resp-tabs-list li {
    margin-bottom: 5px;
    border-bottom: 1px solid;
 }
 .tab1 li.resp-tab-item {
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.tab1 li.resp-tab-active {
    border-bottom-width: 1px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.tab1.resp-vtabs .resp-tabs-list li {
  margin-right: 11px;
  border-right-width: 1px;
  border-right-style: solid;
}
/* Tab 2 style */
.tab2 .resp-tabs-list{
  border-bottom: 4px solid #C1C1C1;
}
.tab2 li.resp-tab-active{
  border-top: 4px solid #c1c1c1;
}
.tab2.resp-vtabs .resp-tabs-list{
  border-bottom: none;
  border-right-width: 5px;
  border-right-style: solid;
}
.tab2.resp-vtabs li.resp-tab-active{
  border-top: none;
  border-left-width: 5px;
}
.tab2.resp-vtabs li.resp-tab-item:last-child{
  margin-bottom: 0;
}
html body .woocommerce-tabs.wc-tabs-wrapper {
  display: none !important;
}
html body .woocommerce-tabs.wc-tabs-wrapper.wooatm-tabs {
  display: block !important;
}