/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

@font-face {
    font-family: 'braisetto';
    src: url('https://thebritishcrafthouse.co.uk/fonts/braisetto_regular.eot');
    src: url('https://thebritishcrafthouse.co.uk/fonts/braisetto_regular.eot?#iefix') format('embedded-opentype'),
         url('https://thebritishcrafthouse.co.uk/fonts/braisetto_regular.woff2') format('woff2'),
         url('https://thebritishcrafthouse.co.uk/fonts/braisetto_regular.woff') format('woff'),
         url('https://thebritishcrafthouse.co.uk/fonts/braisetto_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

article .entry-content{
	line-height:1.7;
}

.read-more{
	margin-top:15px;
}

.kc-blog-posts-2 .kc-list-item-2 .post-title-alt a {
    display: block;
    font-family: 'braisetto'!important;
    text-transform: capitalize;
    text-decoration: none;
    color: #48b2a8;
    font-size: 1.8em;
    line-height: 1.214;
    letter-spacing: -1px;
}

.kc-blog-posts-2 .kc-list-item-2 .post-item-left>p, .kc-blog-posts-2 .kc-list-item-2 .post-item-right>p {
    font-size: .857em;
    color: #000;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.kc-blog-posts-2 .kc-list-item-2{
	border:none;
}

.post-meta{
	display:none;
}


.kc_accordion_header>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none!important;
    outline: 0;
    font-weight: 400;
    border: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: 'Gill Sans MT', Lato, sans-serif;
}




.kc_accordion_content p{
	margin-bottom:5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4ab6b6 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4ab6b6 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #4ab6b6 !important;
}
body,
button,
input,
select,
textarea {
    font-size: 18px;
	letter-spacing: 0px;
	line-height: 1.2;
	font-family: 'Gill Sans MT', Lato, sans-serif;
}
.storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    margin-right: 10px;

}
.wcfm-dashboard-page #wcfm-main-content{
	max-width: 100%;
}
.wcfm_form_simple_submit_wrapper{
	position: relative;
}
#wcfm-main-contentainer .wcfm_membership_review_plan, #wcfm-main-contentainer .wcfm_membership_thankyou_content_wrapper {
    color: #4ab6b6;
}
#wcfm-main-contentainer .wcfm_membership_review_plan, #wcfm-main-contentainer .wcfm_membership_thankyou_content_wrapper {
    background-color: #fff;
}
.site-content {

   max-width: 66.4989378333em;

margin-left: auto;

margin-right: auto;

padding: 0 2.617924em;

box-sizing: content-box;

}
.site-main {

    margin-bottom: 80px;
    max-width: 66.4989378333em;
    margin: 0 auto;

}
p + h2, p + header h2, p + h3, p + h4, ul + h2, ul + header h2, ul + h3, ul + h4, ol + h2, ol + header h2, ol + h3, ol + h4, table + h2, table + header h2, table + h3, table + h4, blockquote + h2, blockquote + header h2, blockquote + h3, blockquote + h4, form + h2, form + header h2, form + h3, form + h4 {
    margin-top: 1em;
}
#wcfmmp-store h2{
	font-size: 18px;
	color: #333 !important;
	
}
.heateor_sss_horizontal_sharing{
	margin-bottom: 20px;
}
button, input[type='button'], input[type='submit'], .button, a.wcfm_catalog_enquiry, span.add_enquiry, a.wcfm_follow_me, a.wcfm_chat_now_button, a.added_to_cart {
	border-radius: 10px;
	font-weight: 400;
}
.kc-owl-post-carousel .owl-item .image{
	width: 100%;
	height: 300px;
	overflow:hidden;
}
.kc-owl-post-carousel .owl-item .image img{
	width: 100%; height: auto;
	vertical-align:middle;
}
button.slick-arrow{
	padding:0;
}
.wcfm_vacation_msg{
	background-color: #48B2A8;
	border-left: none;
	border-right: none;
}
.stock.in-stock {
    color: #597CB0;
}
.category-meet-the-maker .single-post-store, .category-members-only .single-post-store{
	display: none;
}
.archive .badge_post_main .single_badge, .badge_post_main .archive .single_badge.badge_thumb {

    background-color: #4ab6b6;
    padding: 3px;

}
article div.entry-content:nth-of-type(2){
	display: none;
	visibility:hidden;
}
table.alg-product-input-fields-table tr td, table.alg-product-input-fields-table tbody tr:nth-child(2n) td{
	background-color: #eeeeee;
}
.mega-menu-item-type-widget.widget_media_image .wp-caption-text{
	display:none;
}

.single-post article{
	max-width: 900px;
	margin: 0 auto;
}
.single-post .entry-header{
	text-align: center;
}
.single-post h1.entry-title{
	margin-bottom: 0px;
}
.single-post-store{
	padding:15px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #f7f7f7;
	margin-bottom: 30px;
}
.single-post-store p{
	margin-bottom:0;
}
.single-post-store .wcfmmp_sold_by_label, .single-post-store .wcfmmp-store-rating, .category-the-british-craft-house-blog .single-post-store{
	display: none;
}
.home .content-area{
	margin-bottom: 0px;
}
h1.woocommerce-products-header__title{
	margin-bottom: 20px;
}
.backtoblog{
	margin-bottom: 100px;
}
.backtoblog a{
	display: block;
max-width: 300px;
margin: 0 auto;
text-align: center;
}
.edit-link, #wcfmmp-store .banner_text h1::after, #wcfmmp-store .banner_text h1::before{
	display: none !important;
}
.kc-row-container.kc-container .kc-wrap-columns.kc-wrap-columns-new{
	    margin-left: 0;
    margin-right: 0;
}
.kc-owl-post-carousel .owl-item .image, .kc-owl-post-carousel .owl-item .image img{
	margin-bottom:0px;
}
.kc-owl-post-carousel .owl-item {
    background-color: #fff;
    padding: 20px;
}
.kc-owl-post-carousel .owl-item .list-item{
	box-shadow: none;
}
.kc-owl-post-carousel .owl-item .footer-button {
    padding: 15px;
}
.kc-owl-post-carousel .owl-item .in-post-content {
    font-style: italic;
}
.kc-owl-post-carousel .owl-item .kc-read-more{
	float: none;
}
img.motif{
	width: 100px;
	height: auto;
}
.onsale {
    color: #ffffff;
    position: absolute;
    /*top: -10px;*/
    right: 10px;
    background-color: #E95962;
	border-color: #E95962;
	border-radius: 0px;
}
h1,h2,h3{
	font-family: 'braisetto';
	color: #305b7b;
}
h4,h5,h6{
	color: #305b7b;
}
/*h1{
	font-size: 100px;
}*/
h2{
	font-size: 84px;
	margin-bottom: 0px;
line-height: 1.2em;
}
h2.wpcp-image-caption, h2.resp-accordion .wootitle, [class^="wooatm-"], [class*=" wooatm-"], .resp-tab-content h2, .wcfm_welcomebox_user_details h3, div.wcfm-collapse-content h2, .media-frame h1, .media-frame h2, .wcfm_vendor_settings_heading h3{
   
	font-family: 'Gill Sans MT', Lato, sans-serif !important;
}
.wcfm_vendor_settings_heading h3{
	color: #48b2a8;
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
    line-height: 20px;
}
h3 {
    font-size: 45px;
    margin-bottom: 10px;
	line-height: 1.2em;
}
h4{
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 700;
}
h2.resp-accordion .wootitle{
	font-size: 20px;
}
.resp-tab-content h2{
	    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;

}
[class^="wooatm-"] i, [class*=" wooatm-"] i {
    font-family: 'wooatm' !important;
}
.related > h2:first-child, .upsells > h2:first-child {
    font-size: 50px;
    margin-bottom: 1em;
}
img{
	border-radius: 0px;
}
.bg-box h2, .white-text h2, .bg-box h4, .white-text h4{
	color: #ffffff;
	
}
.kc-owl-post-carousel .owl-item .image .caption a{
	text-decoration: none !important;
}
.dark-stripe-box h4{
	font-size: 35px;
	color: #ffffff;
	margin-bottom: 0px;
line-height: 1.2em;
	background-color: rgba(48,91,123,0.5);
	padding: 10px;
}
.dark-stripe-box h4 a{
	text-decoration: none !important;
	color: #ffffff;
	font-weight: bold;
}
.light-stripe-box2 h4 a{
	display: block;
	padding: 210px 20px 30px;
	background: transparent;
background: linear-gradient(180deg, transparent 0%, transparent 56%, rgba(255,255,255,0.7) 66%, rgba(255,255,255,0.8) 100%);
}

.light-stripe-box h4 {
		font-size: 19px;
	margin-bottom: 0px;
line-height: 1.2em;
	background-color: rgba(255,255,255,0.7);
	padding: 10px;
}
.light-stripe-box2 h4 {
		font-size: 19px;
	margin-bottom: 0px;
line-height: 1.2em;	
}
.light-stripe-box h4 a, .light-stripe-box2 h4 a {

    color: #305b7b;
    text-decoration: none !important;
    font-weight: bold;

}
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
    color: #4ab6b6;
}

.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
    padding: .6em 1em;
}
#page .site-header{

}
.site-header .site-branding img {

    height: auto;
    max-width: 200px;
    max-height: none;
    text-align: center;
    margin: 0 auto;

}


.widget .widget-title, .widget .widgettitle {
    font-size: 1.41575em;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 300;
}

.wcfmmp-store-page .container { width: 100%; max-width: 100%; }

.wcfmmp-view-store-banner {
	width: 100%; max-width: 100%;
}
.wpgs.wpgs–with-images.images {
max-width: 500px !important;
}
.site-search .widget_product_search input[type="text"], .site-search .widget_product_search input[type="search"]{
	padding: 10px 10px 10px 30px !important;
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #4ab6b6;
	border-radius: 10px;
		width: auto;
	color: #4ab6b6;
	font-size: 13px;
	font-weight: 400;
	min-width: 200px;
}
.site-search .widget_product_search form::before {
    top: 10px;
    left: 10px;
	color: #4ab6b6;
}
a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus{
	outline-color: transparent;
	outline: none;
}
header .sp-header-row:first-of-type{
	padding-bottom: 30px;
		border-bottom: 2px dashed #4ab6b6 !important;
}
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a{
	text-transform: uppercase;
	font-weight: 700;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
	background-color: #4ab6b6;
	padding-left: 25px;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link span:after{
width: 0px;
height: 0px;
border-style: solid;
border-width: 25px 0 25px 25px;
border-color: transparent transparent transparent #fff;
position: relative;
right: -24px;
	z-index: 5000;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link span:after{
	content: '' !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
	text-transform: none !important;
font-weight: 400 !important;
padding: 5px 15px !important;
}
.widget_media_image img{
	border: 5px solid #ffffff;
	border-radius: 0px;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #305b7b;
	background-color: transparent;
	font-size: 14px;
	text-transform: uppercase;
	opacity: 1 !important;
font-weight: 700;
}
.owl-theme .owl-controls{
	text-align: left;
}
.owl-theme .owl-controls .owl-next{
	float: right;
}
.kc-owl-post-carousel .owl-item .kc-read-more{
	font-size: 18px;
    padding: 0px;
    border-radius: 0px;
    white-space: nowrap;
    border: none;
    transition: all .3s ease;
	text-decoration: underline;
	color: #305b7b;
font-weight: 400;
}
.kc-owl-post-carousel .owl-item .kc-read-more:hover{
	background-color: transparent;
}
.light-blue-box{
	-webkit-box-shadow: 5px 5px 38px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 38px -9px rgba(0,0,0,0.75);
box-shadow: 5px 5px 38px -9px rgba(0,0,0,0.75);
}
.light-blue-box h2, .light-blue-box h4{
	color: #49b6b6;

}
.hentry .entry-content a.kc_button{
	text-decoration: none;
}
.footer-widgets .widget-title{
	font-family: 'braisetto';
	font-size: 84px;
	line-height:1.2em;
	margin-bottom: 30px;
padding-bottom: 0px;
border-bottom: none;
	
}
.footer-widgets{
	text-align: center;
	padding-top: 30px;
border-bottom: 2px dashed #ffffff;
}
.widget_nav_menu ul li::before {
    content: "";
}
.widget_nav_menu ul li{
	padding-left: 0px;
	margin-bottom: 5px
}
.site-info {
    padding: 20px 0 0;
    text-align: center;
}

.site-info img {
	margin: 0 auto;
}

.wcfmmp_sold_by_container .wcfmmp-store-rating{
	margin: 0 auto;
}
ul.products li.product h2, ul.products li.product h3, ul.products li.product .woocommerce-loop-product__title {

    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.5407911001em;
    font-family: 'Gill Sans MT', Lato, sans-serif;

}
.term-description img{
	margin-bottom: 15px;
}
#wcfmmp-store .banner_text h1, #wcfmmp-store .video_text h1, #wcfmmp-store .slider_text h1, #wcfmmp-store h1.wcfm_store_title, #wcfmmp-store .address h1.wcfm_store_title {
    background-color: rgba(255,255,255,0.9);
	font-family: 'Gill Sans MT', Lato, sans-serif;
font-size: 50px;
letter-spacing: 1px;
}
#wcfmmp-store .logo_area_after {
    left: 23%;
}
.left-sidebar .widget-area{
	margin-right:0px;
}
.store-data{
	background-color: rgba(255,255,255,0.9);
padding: 10px;
}
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data h2 a, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data-container .store-address, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data-container .store-phone {
    color: #000 !important;
}
.store-data-container .store-phone i {
    background: #000 !important;
	font-size: 10px;
}
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data h2 a, h1.product_title, .kc_accordion_section > h3.kc_accordion_header {
    font-family: 'Gill Sans MT', Lato, sans-serif;
}
#wcfmmp-store h2.wcfm_policies_heading, #wcfmmp-store .reviews_heading{
	font-family: 'Gill Sans MT', Lato, sans-serif;
color: #333333 !important;
}
h1.product_title {
	font-size:45px;
	margin-bottom: 10px;
}
a.wcfm_catalog_enquiry, span.add_enquiry, a.wcfm_follow_me, a.wcfm_chat_now_button, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store{
	border: none !important;
	text-decoration: none !important;
}
#wcfmmp-stores-lists, #wcfmmp-store{
	box-shadow: none;
}
#wcfmmp-store-lists-sidebar h4, #wcfmmp-store .sidebar_heading h4{
	/*color: #ffffff !important;*/
	border-bottom: none;
padding: 0px;
}
#wcfmmp-store .product_area .products-wrapper ul li.product {
    padding: 0;
    margin-bottom: 15px;
}
#wcfmmp-store .tab_area .tab_links li, #wcfmmp-store .tab_area .tab_links li.active{
	border: none !important;
}
#wcfmmp-store .tab_area .tab_links li:hover a, #wcfmmp-store .tab_area .tab_links li.active a {
    color: #17a2b8 !important;
    border-color: #17a2b8;
}
#wcfmmp-store .tab_area .tab_links{
	border-bottom: none;
}
#wcfmmp-store .tab_area .tab_links li::after {
    background: transparent !important;
}
.pf_rngstyle_thin .irs-from, .pf_rngstyle_thin .irs-single, .pf_rngstyle_thin .irs-to{
	background: #44B6B6;
}
.prdctfltr_woocommerce_ordering .prdctfltr_sale label.prdctfltr_active span::before {
    color: #E95962;
}

#wcfmmp-store .tab_area .tab_links li a {

    color: #305b7b !important;
    border: 2px solid #305b7b;
    border-radius: 10px;
    margin-right: 15px;

}
#wcfmmp-store .tab_area .tab_links li a:hover, #wcfmmp-store .tab_area .tab_links li a:active{
	color: #58AAB7 !important;
    border: 2px solid #58AAB7;
}
#wcfmmp-store .reviews_area, #wcfmmp-store .policies_area, #wcfmmp-store .wcfm_store_description{
	box-shadow: none;
	padding:0px;
	margin: 15px 0 0;
}
.wcfm-store-about{
	padding: 15px;
margin-bottom: 30px;
border: 2px dashed #58AAB7;
}
#wcfmmp-store .right_side {
    padding: 0 5%;
}/*#wcfmmp-store .categories_list ul li{
	background: none;
}*/
.single-product h1.product_title{
	display: inline-block;
}
.single-product .tinv-wraper{
	display: inline-block;
float: right;
margin-top: 10px;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:before, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
   font-size: 50px;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt {
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: sub;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt::before {
    position: relative;
    top: auto;
    left: auto;
}
footer ul.menu li.current-menu-item > a {
    color: #e95962;
}
#form-preview-stage.wpuf-style ul.wpuf-form .wpuf-submit input[type="submit"], .wpuf-form-add.wpuf-style ul.wpuf-form .wpuf-submit input[type="submit"]{
	color: #ffffff !important;
background-color: #e95962 !important;
font-size: 14px !important;
line-height: 1em !important;
font-weight: 700 !important;
text-transform: uppercase;
border-radius: 10px 10px 10px 10px !important;
padding-top: 15px !important;
padding-bottom: 15px !important;
	text-shadow: none !important;
	border: none !important;
	box-shadow: none !important;
}
#wcfm-main-contentainer .wcfm_membership_box_head .wcfm_membership_price .amount{
	font-weight:700;
}
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
    background-color: #e95962;
    border-color: #e95962;
    color: #ffffff;
}
.woocommerce-error {
    background-color: #e95962 !important;
    color: #ffffff !important;
}
#page .site-header-cart{
	line-height: 1.5em !important;
}
.article_area h2{
	font-family:'Gill Sans MT', Lato, sans-serif;
	margin-top: 10px;
}
.single-product .summary .wcfmmp_store_info_store_url, .single-product .summary .wcfmmp_store_info_store_url a{
	display: inline;
}
.single-product .single-store-name{
	margin-bottom: 30px;
}
.page_collapsible_content_holder, p.wcfm_title {
    text-transform: capitalize;
}
.col-descrp{
	    width: 80%;
    display: inline-block;
	margin-right: 20px;
}
.col-avatar{
	    width: 15%;
    display: inline-block;
    vertical-align: top;
	text-align: center;
}
.col-avatar img{
	margin: 10px auto;
}
.site-search{
	display: block;
}
.wcfm_product_manager_gallery_fields{
	padding-left: 30px;
    text-align: left;
}
.wcfm-product-feature-upload, #gallery_img, .wcfm_product_manager_cats_checklist_fields, 
.product_tags_ele, .wcfm_fetch_tag_cloud, .wcfm_add_new_category, .wcfm_new_tax_ele, .wcfm_new_parent_taxt_ele, .wcfm_add_new_taxonomy_form, .catalog_visibility_ele{
	width: 100% !important;
	max-width: 400px !important;
	text-align: left;
}
.site-header-cart .cart-contents::after {
  
    display: inline-block;
    font-style: normal;
    
    
    
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    vertical-align: baseline;
    content: "\f291";
    height: 1em;
    
    line-height: 1.618;
}
.site-header-cart .cart-contents{
	display: block;
}

@media(max-width:1199px){
	h2, .footer-widgets .widget-title{
		font-size: 64px;
	}
	h4, .dark-stripe-box h4 {
    font-size: 20px;
}
	.light-stripe-box h4 {
    font-size: 16px;
	}
}
@media(max-width: 991px){
	.footer-widgets.col-4 .block{
		width: 50%;
		margin-right:0px;
	}
}
@media(max-width: 767px){
	header .sp-header-row:first-of-type {
    padding-bottom: 0px;
    border-bottom: none !important;
}
	.site-branding, .woocommerce-active .site-branding{
		float: none;
	}
	.site-header-cart .cart-contents{
		text-align: center;
		margin-top: 15px;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu {
    visibility: visible;
    width: 100% !important;
    left: 0px !important;
}
	.site-branding{
		width: 100%;
	}
	.footer-widgets.col-4 .block, .col-avatar {
    width: 100%;
    margin-right: 0px;
}
	.site-header .site-branding img{
		max-width: 150px;
	}
	h2, .footer-widgets .widget-title, h2.alpha {
    font-size: 40px;
    line-height: 45px;

}
	h1{
		font-size: 50px;
	}
	#wcfmmp-store h1.wcfm_store_title, #wcfmmp-store .address h1.wcfm_store_title{
		font-size: 30px;
	}
	.site-content{
		padding: 0;
	}
}
@media(max-width:400px){
	#wcfm-main-contentainer .wcfm_membership_box_body{
		font-size: 14px;
	}
}

@media screen and (max-width: 479px)
 {#wpcpro-wrapper #sp-wp-carousel-pro-id-795.wpcp-carousel-section.nav-vertical-center {
    padding: 1px !important;
	 }}

@media screen and (max-width: 479px)
{#wpcpro-wrapper #sp-wp-carousel-pro-id-785.wpcp-carousel-section.nav-vertical-center {
     padding: 1px !important;
	}}

.widget_shopping_cart .buttons a:last-child, .vaa-mobile .cross-sells {
	display: none;
}

/*#wcfmmp-store .reviews_area {
	display: none !important;
}*/

body.wcfm-dashboard-page #wcfm-main-contentainer .select2-container .select2-selection{
	min-height: 60px!important;
}

/*#wcfm_products_manage_form .select2-search__field{
    resize: none;
    border: none !important;
    width: 39.6rem !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    height: 2.2rem !important;
    box-shadow: none;
}*/

.wcfmmp-store-search-form {
	box-shadow: none;
}
