@charset "UTF-8";
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpf_spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
.wpf_spin.reverse_spin {
  animation-direction: reverse;
}

.wpf_regenerate.disabled {
  color: #737373;
  box-shadow: none;
  cursor: not-allowed;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.wfbtn {
  background: #3498db;
  background-image: linear-gradient(125deg, #3cb0fd 0%, #152f8c 140%);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px #666666;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #2b698f 0px;
  text-decoration: none;
}
.wfbtn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.woo_feed_manage_list_table .wf_update_interval_btn {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
  border: none;
}
.woo_feed_manage_list_table .wf_update_interval_btn:hover {
  background: linear-gradient(125deg, #3cb0fd 40%, #6c5ce7 140%);
}

.wftooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.feed-actions .makeFeedResponse {
  width: 70%;
  color: green;
}

.woo-feed-mapping-input {
  width: 100%;
}

.requiredIn {
  color: red;
}

.generalInput {
  width: 200px;
}
.generalInput:not(.selectize-control) {
  margin: 5px auto;
}

.error {
  color: red;
}

.widefat td select, .widefat td input {
  max-width: 100%;
}

.woo-feed-btn-bg-gradient-blue, [data-class=woo-feed-btn-bg-gradient-blue] {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%) !important;
  border: none;
  outline: 0;
  border-width: 0 !important;
  box-shadow: none !important;
  transition: 1s lenear;
  font-weight: 500;
  color: #fff !important;
}
.woo-feed-btn-bg-gradient-blue:hover, [data-class=woo-feed-btn-bg-gradient-blue]:hover {
  background: #3cb0fd !important;
}

.woo-feed-btn-bg-gradient-red {
  background: linear-gradient(125deg, #eb4d4b 0, #ff9671 140%) !important;
  border: none;
  outline: 0;
  border-width: 0 !important;
  box-shadow: none !important;
  transition: 1s lenear;
  font-weight: 500;
  color: #fff !important;
}
.woo-feed-btn-bg-gradient-red:hover {
  background: #fc5c65 !important;
}

.woo-feed-btn-bg-gradient-purple {
  background: linear-gradient(67.36deg, #9733ee 3.09%, #da22ff 64.97%) !important;
  border: none;
  outline: 0;
  border-width: 0 !important;
  box-shadow: none !important;
  transition: 1s lenear;
  font-weight: 500;
  color: #fff !important;
}
.woo-feed-btn-bg-gradient-purple:hover {
  background: #a203fb !important;
}

.woo-feed-light-btn-bg-gradient-blue {
  background: linear-gradient(125deg, #3cb0fd 0px, #6c5ce7 140%) !important;
}

#wf_newRow {
  margin-left: 0;
}

.mtable tbody tr {
  height: 25px;
  border: 1px solid #CCC;
  text-align: left;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-weight: bold;
}
.mtable th:nth-child(1) {
  width: 17px;
}
.mtable th:nth-child(2) {
  width: 160px;
}
.mtable th:nth-child(3) {
  width: 100px;
}
.mtable th:nth-child(4) {
  width: 100px;
}
.mtable th:nth-child(5) {
  width: 150px;
}
.mtable th:nth-child(6) {
  width: 100px;
}
.mtable th:nth-child(7) {
  width: 150px;
}
.mtable th:nth-child(8) {
  width: 90px;
}
.mtable th:nth-child(9) {
  width: 29px;
}

.mtable2 tbody tr {
  height: 25px;
  border: 1px solid #CCC;
  text-align: left;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-weight: bold;
}
.mtable2 th:nth-child(1) {
  width: 30px;
}
.mtable2 th:nth-child(2) {
  width: 150px;
}
.mtable2 th:nth-child(3) {
  width: 230px;
}
.mtable2 th:nth-child(4) {
  width: 220px;
}
.mtable2 th:nth-child(7) {
  width: 50px;
}
.mtable2 th:nth-child(8) {
  width: 50px;
}
.mtable2 th:nth-child(9) {
  width: 29px;
}

.wp-admin select.wf_mattributes {
  width: 150px;
  left: 0;
  height: 25px;
}

div#wf-tab-content1 select:not([name^=output_type]) {
  width: 100%;
}
div#wf-tab-content1 input {
  width: 100%;
}
div#wf-tab-content1 .dashicons {
  vertical-align: middle;
}

.wf_attributes {
  width: 150px;
  left: 0;
}

.wf_compare {
  max-width: 245px;
  left: 0;
}

.wf_ps {
  width: 100px;
  left: 0;
}

.wf_sortedtable {
  cursor: move;
}

.sorted_table {
  position: relative;
}
.sorted_table .dragged {
  position: absolute;
  opacity: 0.8;
  z-index: 9999;
  background: #fff;
  width: 100%;
  display: table;
}
.sorted_table tbody tr.placeholder td {
  border: 1px dashed #2cc185;
  height: 46px;
}

.wfnoempty {
  width: 120px;
}

/*==================Tab Design=======================*/
p {
  color: #222;
}

.wf_tabs {
  position: relative;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  /*bottom: 50px;*/
}

.wf_tabs:after {
  display: table;
  clear: both;
  content: "";
}

.wf_tabs li {
  float: left;
  width: 20%;
  display: block;
  border: 2px solid #CCC;
}

.wf_tabs li > input[type=radio][name=wf_tabs] {
  position: absolute;
  top: auto;
  left: -9999px;
}

.wf-tab-name {
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  background: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #2CC185;
}

.wf-tab-name:hover {
  background: #2CC185;
  color: white;
}

.wf_tabs [id^=tab]:checked + label {
  background: #2CC185;
  color: white;
}

.wf_tabs .wf-tab-content {
  z-index: 2;
  display: none;
  width: 100%;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  background: #fff;
  border: 2px solid #CCC;
}
.wf_tabs .wf-tab-content .counter {
  color: #222;
  padding: 3px 0;
  margin-top: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-width: 300px;
  font-size: 13px;
}
.wf_tabs .wf-tab-content .counter span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  width: 19px;
  height: 19px;
  color: orange;
}

.wf_tabs [id^=tab]:checked ~ [id^=wf-tab-content] {
  display: block;
}

[id^=wf-tab-content] {
  margin-bottom: 40px;
}

div#wf-tab-content2 table:first-child {
  padding: 10px 0;
}

div#wf-tab-content2 table:first-child td:nth-child(1) {
  width: 260px;
}

div#wf-tab-content2 table:first-child td:nth-child(2) {
  width: 260px;
}

table.feed-actions tr td:last-child {
  text-align: right;
}

/* Selectize */
select.selectize {
  display: none;
}

body.no-js select.selectize {
  display: block !important;
}

.wp-list-table .option_name .wf_feed_option_name_link {
  font-weight: 700;
  color: #30336b;
}
.wp-list-table #option_name a {
  color: #32373c;
}

/* fallback combat */
.selectize-dropdown .active {
  background-color: #edf9ff;
}

.selectize-dropdown .create {
  padding: 5px 8px;
}

.wapk-selectize-item {
  background: #0073aa !important;
  color: #f1f1f1 !important;
  font-weight: bold !important;
  border-color: #0073aa !important;
  padding-left: 5px;
  padding-right: 5px;
}

.selectize-input.full #googleTaxonomyId-selectized {
  opacity: 0;
  position: absolute;
  left: -10000px;
}

.selectize-dropdown [data-selectable].option {
  cursor: default;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left: 1px solid #f1f1f1 !important;
}

.selectize-dropdown .optgroup-header {
  font-weight: 700;
  background: #efefef;
  color: #5a5a5a;
}

.selectize-dropdown [data-selectable].option {
  cursor: pointer;
}

/* Feed active and inactive button CSS */
.wf_status_wrap label {
  width: 55px;
  height: 28px;
  box-sizing: border-box;
  float: left;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(125deg, #e2e2e2 0, #cccccc 140%);
}

input[class=woo_feed_status_input]:checked + label {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
}

input[class=woo_feed_status_input]:checked + label:before {
  left: 29px;
}

.wf_status_wrap label:before {
  transition: 0.3s ease;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  left: 6px;
  top: 4px;
  box-sizing: border-box;
  color: black;
  border-radius: 100px;
  box-shadow: 0px 1.5px 2px 0px #000;
}

.view span.dashicons.dashicons-external {
  color: #22a6b3;
}
.view span.dashicons.dashicons-sos {
  color: #22a6b3;
}
.view span.dashicons.dashicons-download {
  color: #ee5253;
}
.view span.dashicons.dashicons-media-code {
  color: #576574;
}

/* list table style */
.widefat td.column-url, .widefat th.column-url,
.column-url {
  color: #1e8f9a;
  font-weight: bold;
}

/** Feed Progress **/
.feed-progress-container {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 300;
}

.feed-progress-bar {
  width: 100%;
  background: #eee;
  padding: 3px;
  border-radius: 50px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.feed-progress-bar-fill {
  height: 20px;
  display: block;
  background: linear-gradient(to right top, #10ac84, #13b389, #15ba8f, #18c194, #1ac89a, #13cba1, #0acfa9, #00d2b0, #00d2ba, #00d2c3, #00d2cb, #00d2d3);
  width: 0;
  border-radius: 50px;
  transition: width 0.8s ease;
}

.feed-progress-status {
  float: left;
  font-weight: bold;
  color: darkblue;
}

.feed-progress-percentage {
  text-align: right;
  font-weight: bolder;
  color: #1dd1a1;
  font-family: "Arial Black", sans-serif;
  font-size: large;
}

#wpbody-content.woofeed-body-content {
  overflow: visible !important;
}

.clippy {
  position: relative;
  width: 13px;
  margin-top: -3px;
  margin-left: 3px;
  top: 3px;
}

.column-url .clippy {
  display: none;
}

.column-url:hover .clippy {
  display: inline-block;
}

/**
 * Primer Tooltip
 */
.tooltipped {
  position: relative;
}
.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
}
.tooltipped:hover:before {
  display: inline-block;
  text-decoration: none;
}
.tooltipped:hover:after {
  display: inline-block;
  text-decoration: none;
}
.tooltipped:active:before {
  display: inline-block;
  text-decoration: none;
}
.tooltipped:active:after {
  display: inline-block;
  text-decoration: none;
}
.tooltipped:focus:before {
  display: inline-block;
  text-decoration: none;
}
.tooltipped:focus:after {
  display: inline-block;
  text-decoration: none;
}
.tooltipped-multiline:hover:after {
  display: table-cell;
}
.tooltipped-multiline:active:after {
  display: table-cell;
}
.tooltipped-multiline:focus:after {
  display: table-cell;
}
.tooltipped-multiline:after {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre-line;
  border-collapse: separate;
}
.tooltipped-s:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.tooltipped-s:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-se:after {
  top: 100%;
  margin-top: 5px;
  right: auto;
  left: 50%;
  margin-left: -15px;
}
.tooltipped-se:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
  margin-right: -15px;
}
.tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-n:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.tooltipped-n:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-ne:after {
  bottom: 100%;
  margin-bottom: 5px;
  right: auto;
  left: 50%;
  margin-left: -15px;
}
.tooltipped-ne:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
  margin-right: -15px;
}
.tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-multiline.tooltipped-s:after {
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tooltipped-multiline.tooltipped-n:after {
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tooltipped-multiline.tooltipped-w:after {
  right: 100%;
}
.tooltipped-multiline.tooltipped-e:after {
  right: 100%;
}
.tooltipped-sticky:before {
  display: inline-block;
}
.tooltipped-sticky:after {
  display: inline-block;
}
.tooltipped-sticky.tooltipped-multiline:after {
  display: table-cell;
}

.fullscreen-overlay-enabled.dark-theme .tooltipped:after {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-s:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-se:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-sw:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-n:before {
  border-top-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-ne:before {
  border-top-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-nw:before {
  border-top-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-e:before {
  border-right-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-w:before {
  border-left-color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 0\0 ) {
  .tooltipped-multiline:after {
    width: 250px;
  }
}
ul.tracker_collection_list {
  list-style: initial;
  padding: initial;
  margin: -10px 0 0 30px;
  font-size: 11px !important;
}
ul.tracker_collection_list li {
  margin: 0;
}

/** Info Message Table **/
table.wf-info-table, table.wf-rate-table {
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
  font-weight: 500;
}
table.wf-info-table th, table.wf-rate-table th {
  text-align: center;
}
table.wf-info-table th .woo-feed-top-header, table.wf-rate-table th .woo-feed-top-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-logo-wrapper, table.wf-rate-table th .woo-feed-top-header .woo-feed-logo-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-logo-wrapper img, table.wf-rate-table th .woo-feed-top-header .woo-feed-logo-wrapper img {
  margin-right: 8px;
  width: 24px;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-logo-wrapper .woo-feed-logo-label, table.wf-rate-table th .woo-feed-top-header .woo-feed-logo-wrapper .woo-feed-logo-label {
  margin: 0;
  padding: 0;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons {
  float: right;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a {
  padding: 8px 20px;
  background: #576574;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  transition: 0.3s ease;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-doc-link, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-doc-link {
  background: #576574;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-video-link, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-video-link {
  background: #ee5253;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-support-link, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a.woo-feed-support-link {
  background: #22a6b3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a span.dashicons, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a span.dashicons {
  font-size: 18px;
  line-height: 1.2;
}
table.wf-info-table th .woo-feed-top-header .woo-feed-top-buttons a:hover, table.wf-rate-table th .woo-feed-top-header .woo-feed-top-buttons a:hover {
  background: #30336b;
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.12);
}
table.wf-info-table strong, table.wf-rate-table strong {
  font-weight: bold;
}
table.wf-info-table th:first-child img {
  margin: 0 0 -5px 5px;
}
table.wf-rate-table a {
  color: #0073aa;
}
table.wf-rate-table a.review-star:after {
  content: "" !important;
  font-family: dashicons;
  font-size: 10px;
  font-weight: 100;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0073aa;
  text-decoration: underline;
}

/** Admin Menu Icon **/
#adminmenu #toplevel_page_webappick-manage-feeds div.wp-menu-image::before {
  content: "";
  background: url(../images/woo-feed-icon.svg) no-repeat center center;
  background-size: 20px 20px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#adminmenu #toplevel_page_webappick-manage-feeds:hover div.wp-menu-image::before {
  opacity: 1;
  filter: alpha(opacity=100);
}
#adminmenu #toplevel_page_webappick-manage-feeds.wp-has-current-submenu div.wp-menu-image::before {
  opacity: 1;
  filter: alpha(opacity=100);
}

/** Admin Page Wrapper **/
.wapk-admin, .wapk-admin * {
  box-sizing: border-box;
}

.wapk-admin {
  position: relative;
  display: block;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
  color: #1B2730;
  /* reset .warp margin to use full width except menu area */
  margin: 0 0 0 -10px;
}

@media screen and (min-width: 783px) {
  .wapk-admin {
    margin: 0 0 0 -20px;
  }
}
.text-center {
  text-align: center;
}

.wapk-admin h1, .wapk-admin h2, .wapk-admin h3,
.wapk-admin h4, .wapk-admin h5, .wapk-admin h6,
.wapk-admin p {
  color: #1B2730;
}
.wapk-admin sup {
  vertical-align: baseline;
  position: relative;
  top: -6px;
}
.wapk-admin sub {
  vertical-align: baseline;
  position: relative;
  top: 4px;
}

/* WP.Core.UI Compat */
.wapk-admin .wapk-section {
  margin: 10px 20px 0 22px;
  position: relative;
  display: block;
}
.wapk-admin .wapk-section [class$=icon32] + h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}
.wapk-admin .wapk-section h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}
.wapk-admin .wapk-section > h2:first-child {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}
.wapk-admin > .notice {
  margin: 10px 20px 0 22px;
  position: relative;
  display: block;
}
.wapk-admin span.help {
  display: block;
  float: left;
  width: 100%;
  font-size: 0.9em;
  color: #636363;
  margin-top: 5px;
  font-weight: 500;
}
.wapk-admin span.help .dashicons {
  width: 11px;
  height: 12px;
  font-size: inherit;
  vertical-align: middle;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

/*.wapk-admin .help a { color: inherit; text-decoration: underline; }*/
/** Extend WP Core UI PostBox For Docs **/
.wapk-feed-docs .postbox {
  width: 355px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.wapk-feed-docs .postbox .hndle {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  cursor: pointer;
}
.wapk-feed-docs .postbox .dashicons {
  color: #ccc;
}
.wapk-feed-docs .postbox a {
  text-decoration: none;
}
.wapk-feed-docs .postbox .inside {
  margin-bottom: 0;
}
.wapk-feed-docs .postbox ul {
  margin-bottom: 0;
}
.wapk-feed-docs .postbox .toggle-indicator:before {
  content: "";
  display: inline-block;
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}
.wapk-feed-docs .postbox li {
  width: 100%;
  display: block;
  float: left;
}
.wapk-feed-docs .postbox li span {
  display: inline-block;
  float: left;
  margin-right: 4px;
}
.wapk-feed-docs .postbox li a {
  display: inline-block;
  float: left;
  width: calc(100% - 24px);
}
.wapk-feed-docs .postbox.closed .toggle-indicator:before {
  content: "";
}

.wapk-section #post-body.columns-2 #side-sortables {
  min-height: 196px;
}

#poststuff #feed_merchant_info .inside {
  margin: 0;
  padding: 0;
}

#feed_merchant_info ul.data {
  margin-left: 24px;
  margin-top: 5px;
}
#feed_merchant_info ul.data li {
  margin-bottom: 5px;
}

.merchant-info-section {
  padding: 6px 10px 8px;
}
.merchant-info-section.woo-feed-open-file {
  text-align: center;
}
.merchant-info-section.woo-feed-open-file a {
  line-height: 1.5;
  text-decoration: none;
}

.generateFeed .wf-tab-content table:first-child {
  border: none;
  box-shadow: none;
}
.generateFeed table th {
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .wapk-feed-docs .postbox {
    display: block;
    width: auto;
    float: none;
    margin-right: auto;
  }
}
/** Admin Feed Help Docs **/
.wp-submenu li span.woo-feed-docs {
  font-weight: bold;
  color: #f18500;
}
.wp-submenu li:hover span.woo-feed-docs {
  color: #ce7304;
}
.wp-submenu li.current span.woo-feed-docs {
  color: #ce7304;
}

.wapk-admin .wapk-feed-docs .postbox .hndle {
  cursor: default;
}

/** Admin Call-To-Action **/
.wapk-cta {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 15px;
  background: linear-gradient(45deg, #6CD5FF 33%, #c2efef 100%);
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.wapk-cta-icon .dashicons {
  font-size: 100px;
  width: 100px;
  height: auto;
  margin: 0 10px -8px 0;
  color: #02658c;
}
.wapk-cta-content {
  width: 50%;
}
.wapk-cta-content h2 {
  font-size: 2em;
  margin: 0.5em 0;
}
.wapk-cta-action a.wapk-button {
  font-size: 24px;
  height: auto !important;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  .wapk-cta {
    display: block;
    text-align: center;
    padding: 4em 0;
  }
  .wapk-cta-content {
    width: 100%;
    margin: 2em 0;
  }
}
/** Override .wp-core-ui .wapk-button styles with prefix .wapk-admin **/
/* Button Skin */
.wapk-button {
  color: #00D4D4;
  border-color: #00D4D4;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}
.wapk-button > svg {
  width: 15px;
  margin-left: 5px;
  fill: #00D4D4;
}
.wapk-button > .dashicons {
  color: #00D4D4;
}
.wapk-button:hover {
  border-color: #00bbbb;
  color: #00bbbb;
}
.wapk-button:hover > svg {
  fill: #00bbbb;
}
.wapk-button:hover > .dashicons {
  color: #00bbbb;
}
.wapk-button:focus {
  border-color: #00D4D4;
  color: #00bbbb;
  box-shadow: 0 0 0 1px #00D4D4;
}
.wapk-button:focus > svg {
  fill: #00bbbb;
}
.wapk-button:focus > .dashicons {
  color: #00bbbb;
}
.wapk-button:active {
  background: #00bbbb;
  border-color: #00bbbb;
}
.wapk-button-secondary {
  color: #00D4D4;
  border-color: #00D4D4;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}
.wapk-button-secondary > svg {
  width: 15px;
  margin-left: 5px;
  fill: #00D4D4;
}
.wapk-button-secondary > .dashicons {
  color: #00D4D4;
}
.wapk-button-secondary:hover {
  border-color: #00bbbb;
  color: #00bbbb;
}
.wapk-button-secondary:hover > svg {
  fill: #00bbbb;
}
.wapk-button-secondary:hover > .dashicons {
  color: #00bbbb;
}
.wapk-button-secondary:focus {
  border-color: #00D4D4;
  color: #00bbbb;
  box-shadow: 0 0 0 1px #00D4D4;
}
.wapk-button-secondary:focus > svg {
  fill: #00bbbb;
}
.wapk-button-secondary:focus > .dashicons {
  color: #00bbbb;
}
.wapk-button-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  background: #00D4D4;
  border-color: #00D4D4;
  color: #fff;
  box-shadow: 0 1px 0 #00bbbb;
  text-shadow: 0 -1px 1px #00bbbb, 1px 0 1px #00bbbb, 0 1px 1px #00bbbb, -1px 0 1px #00bbbb;
}
.wapk-button-primary > svg {
  fill: #fff;
}
.wapk-button-primary:hover {
  background: #00e3e3;
  border-color: #00c5c5;
  color: #fff;
}
.wapk-button-primary:hover > svg {
  fill: #fff;
}
.wapk-button-primary:focus {
  background: #00e3e3;
  border-color: #00c5c5;
  color: #fff;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00D4D4;
}
.wapk-button-primary:focus > svg {
  fill: #fff;
}
.wapk-button-primary:active {
  background: #00bbbb;
  border-color: #00bbbb;
  color: #fff;
}
.wapk-button-primary:active > svg {
  fill: #fff;
}
.wapk-button-primary:disabled {
  color: #c7d1d1 !important;
  background: #22ffff !important;
  border-color: #22ffff !important;
  text-shadow: none !important;
}
.wapk-button-primary:disabled > svg {
  fill: #c7d1d1 !important;
}
.wapk-button.hover {
  border-color: #00bbbb;
  color: #00bbbb;
}
.wapk-button.hover > svg {
  fill: #00bbbb;
}
.wapk-button.hover > .dashicons {
  color: #00bbbb;
}
.wapk-button.focus {
  border-color: #00D4D4;
  color: #00bbbb;
  box-shadow: 0 0 0 1px #00D4D4;
}
.wapk-button.focus > svg {
  fill: #00bbbb;
}
.wapk-button.focus > .dashicons {
  color: #00bbbb;
}
.wapk-button.active {
  border-color: #00bbbb;
  color: #00bbbb;
  box-shadow: inset 0 2px 5px -3px #00bbbb;
}
.wapk-button.active:focus {
  border-color: #00bbbb;
  color: #00bbbb;
  box-shadow: inset 0 2px 5px -3px #00bbbb;
}
.wapk-button.active:focus > svg {
  fill: #00bbbb;
}
.wapk-button.active:focus > .dashicons {
  color: #00bbbb;
}
.wapk-button.active:hover {
  border-color: #00bbbb;
  color: #00bbbb;
  box-shadow: inset 0 2px 5px -3px #00bbbb;
}
.wapk-button.active:hover > svg {
  fill: #00bbbb;
}
.wapk-button.active:hover > .dashicons {
  color: #00bbbb;
}
.wapk-button.active > svg {
  fill: #00bbbb;
}
.wapk-button.active > .dashicons {
  color: #00bbbb;
}
.wapk-button-primary.active {
  background: #00D4D4;
  color: #fff;
  border-color: #008888;
  box-shadow: inset 0 2px 5px -3px black;
}
.wapk-button-primary.active:focus {
  background: #00D4D4;
  color: #fff;
  border-color: #008888;
  box-shadow: inset 0 2px 5px -3px black;
}
.wapk-button-primary.active:focus > svg {
  fill: #fff;
}
.wapk-button-primary.active:hover {
  background: #00D4D4;
  color: #fff;
  border-color: #008888;
  box-shadow: inset 0 2px 5px -3px black;
}
.wapk-button-primary.active:hover > svg {
  fill: #fff;
}
.wapk-button-primary.active > svg {
  fill: #fff;
}
.wapk-button-primary[disabled] {
  color: #c7d1d1 !important;
  background: #22ffff !important;
  border-color: #22ffff !important;
  text-shadow: none !important;
}
.wapk-button-primary[disabled] > svg {
  fill: #c7d1d1 !important;
}
.wapk-button-primary.wapk-button-primary-disabled {
  color: #c7d1d1 !important;
  background: #22ffff !important;
  border-color: #22ffff !important;
  text-shadow: none !important;
}
.wapk-button-primary.wapk-button-primary-disabled > svg {
  fill: #c7d1d1 !important;
}
.wapk-button-primary.disabled {
  color: #c7d1d1 !important;
  background: #22ffff !important;
  border-color: #22ffff !important;
  text-shadow: none !important;
}
.wapk-button-primary.disabled > svg {
  fill: #c7d1d1 !important;
}
.wapk-button-primary.wapk-button-hero {
  box-shadow: 0 2px 0 #00bbbb;
}
.wapk-button-primary.wapk-button-hero:focus {
  box-shadow: 0 2px 0 #00bbbb, 0 1px 0 #00c5c5, 0 0 2px 1px #00eeee;
}
.wapk-button-primary.wapk-button-hero:active {
  box-shadow: inset 0 3px 0 #00a1a1;
}
.wapk-button-primary.wapk-button-hero.active {
  box-shadow: inset 0 3px 0 #00a1a1;
}
.wapk-button-primary.wapk-button-hero.active:hover, .wapk-button-primary.wapk-button-hero.active:focus {
  box-shadow: inset 0 3px 0 #00a1a1;
}
.wapk-button-group > .wapk-button.active {
  border-color: #00D4D4;
}

/* Button Sizes */
.wapk-button.wapk-button-xl {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}

.wapk-button-group.wapk-button-xl .wapk-button {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}

.wapk-button.wapk-button-hero {
  font-size: 18px;
  height: 50px;
  line-height: 48px;
  padding: 0 36px;
  min-height: 46px;
}

.wapk-button-group.wapk-button-hero .wapk-button {
  font-size: 18px;
  height: 50px;
  line-height: 48px;
  padding: 0 36px;
  min-height: 46px;
}

@media screen and (min-width: 782px) {
  th#status,
th#provider {
    width: 80px;
  }

  th#type {
    width: 50px;
  }

  th#option_name {
    width: 100px;
  }

  td.option_name.column-option_name > span:first-child {
    display: none;
  }

  th#last_updated {
    width: 90px;
  }

  th#view {
    width: 111px;
  }
}
@media screen and (min-width: 960px) {
  th#status, th#provider {
    width: 100px;
  }

  th#type {
    width: 80px;
  }

  th#option_name {
    width: 150px;
  }

  th#last_updated {
    width: 140px;
  }
}
@media screen and (max-width: 782px) {
  table.wf-info-table {
    margin-top: 10px;
  }
  table.wf-info-table th:first-child img {
    margin: 0 auto;
    display: block;
  }

  .wapk-button.wapk-button-xl {
    padding: 6px 14px;
    line-height: normal;
    font-size: 14px;
    vertical-align: middle;
    height: auto;
    margin-bottom: 4px;
  }
}
.wapk-feed-docs .wapk-feed-cta {
  margin: 0;
}

.campaign_configurator {
  background: #FFF;
  padding: 20px 0;
}
.campaign_configurator table {
  margin: 0 auto;
  width: 51%;
  min-width: 574px;
  border: none;
  box-shadow: none;
}
.campaign_configurator th {
  min-width: 120px;
}

@media screen and (max-width: 782px) {
  .campaign_configurator {
    padding: 0;
  }
  .campaign_configurator table {
    width: auto;
    min-width: auto;
    max-width: 100%;
  }
  .campaign_configurator th {
    min-width: auto;
  }
}
#wf-tab-content-config td > input:not([type=checkbox]):not([type=radio]),
#wf-tab-content-config td > select,
#wf-tab-content-config td > textarea {
  width: 100% !important;
}

.woo-feed-filters td > div:nth-child(2n):not(.clear):not(.selectize):not(.counter) {
  width: 120px;
  display: block;
}
.woo-feed-filters td > div:not(.clear) {
  float: left;
  margin-right: 10px;
}
.woo-feed-filters tr > td:first-child {
  width: 290px;
  padding-left: 40px;
}

.woo-feed-filters,
.woo-feed-ftp {
  margin: 15px auto 25px;
}

.wf_clean_cache_wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@-webkit-keyframes LoaderClockWise {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes LoaderClockWise {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.woo-feed-cache-loader {
  width: 18px;
  margin-right: 5px;
  animation: LoaderClockWise 1s linear infinite;
  -webkit-animation: LoaderClockWise 1s linear infinite;
  display: none;
}

.woo-feed-table-heading .woo-feed-table-heading-title {
  float: left;
  margin-right: auto;
  display: inline-block;
  line-height: 30px;
}

.woo-feed-table-heading .wf_clean_cache_wrapper {
  float: right;
  font-weight: normal;
}

.wf_clean_cache_wrapper button {
  background: linear-gradient(125deg, #eb4d4b 0, #ff9671 140%) !important;
  color: #fff;
  border: none;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.wf_clean_cache_wrapper button:hover {
  background: #ff7979 !important;
  color: #fff;
}

input[type=submit][data-id=wf_action_submit] {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
  color: #fff;
  border: 1px;
  padding: 0 20px;
}
input[type=submit][data-id=wf_action_submit]:hover {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
  color: #fff;
}

.woo-import-popup-body #TB_window {
  width: 500px !important;
}
.woo-import-popup-body #TB_window #TB_title {
  border: none;
  background: #fff;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px !important;
}
.woo-import-popup-body #TB_window #TB_title #TB_ajaxWindowTitle {
  color: #30336b;
  font-weight: 700;
}
.woo-import-popup-body #TB_window #TB_closeWindowButton {
  top: -14.5px;
  right: -14.5px;
  border: none;
  outline: 0;
}
.woo-import-popup-body #TB_window #TB_closeWindowButton .tb-close-icon {
  background: #ff5e55;
  color: #fff;
  border-radius: 50%;
}
.woo-import-popup-body #TB_window #TB_closeWindowButton:focus {
  outline: 0;
  border: 0;
}
.woo-import-popup-body #TB_window #TB_ajaxContent {
  position: relative;
  width: 100% !important;
  height: auto !important;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  background: #f7fcff;
  padding: 30px 20px;
}
.woo-import-popup-body #TB_window #TB_ajaxContent:before {
  content: "";
  width: 115%;
  display: block;
  background: #4bcffa;
  position: absolute;
  height: 130%;
  z-index: 0;
  left: -36%;
  top: -85px;
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}
.woo-import-popup-body #TB_window #TB_ajaxContent table {
  border: none;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 12px 20px -17px #000;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input {
  width: 60%;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input:focus {
  outline: 2px solid #68B8F7;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input[type=file] {
  padding: 3px 0;
  cursor: pointer;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input[type=text] {
  border-radius: 25px;
  font-size: 14px;
  padding: 1px 20px;
  text-align: center;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input[type=submit] {
  background: #17c0eb;
  border-radius: 25px;
  border: 0;
  box-shadow: 1px 4px 7px -3px #45364A;
  font-weight: 600;
  transition: 0.3s ease;
}
.woo-import-popup-body #TB_window #TB_ajaxContent table input[type=submit]:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* Status Page Style */
.woo-feed-status-table-wrapper .woo-feed-status-table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  border-spacing: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr:nth-child(even) {
  background: #f1f1f1;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr:nth-child(odd) {
  background: #fafafc;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr th {
  background: #353b48;
  color: #fff;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr th, .woo-feed-status-table-wrapper .woo-feed-status-table tr td {
  padding: 0.5rem 20px;
  text-align: left;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group .wf_clean_cache_wrapper {
  margin: initial;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group input[type=button] {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group input[type=button]:hover {
  background: #3cb0fd;
}
.woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group button, .woo-feed-status-table-wrapper .woo-feed-status-table tr td.woo-feed-status-page-btn-group input[type=button] {
  height: 38px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: 0;
}

input[id^=woo_feed_identifier_] {
  display: block;
  width: 100% !important;
}

#taxonomy-woo-feed-brand #newwoo-feed-brand_parent,
.taxonomy-woo-feed-brand .form-field.term-parent-wrap {
  display: none;
}

.wapk-admin .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}
.wapk-admin .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.wapk-admin .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.wapk-admin .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.wapk-admin input:checked + .slider {
  background: linear-gradient(125deg, #3cb0fd 0, #6c5ce7 140%);
}
.wapk-admin input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.wapk-admin input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
.wapk-admin .slider.round {
  border-radius: 34px;
}
.wapk-admin .slider.round:before {
  border-radius: 50%;
}