/*------------------------------------------------------------------
[Loop-10]
-------------------------------------------------------------------*/

&.pl-loop-10 {

	&.pl-grid {
		.pl-alt {
			position: relative;
			border-radius: .5em;
			border: 1px solid rgba(0,0,0,0.1);
		}
		.pl-figure-in {
			border-radius: .5em;
			overflow: hidden;
		}
		.pl-alt-after {
			position: absolute;
			background-color: #fff;
			top: 100%;
			width: 100%;
			box-shadow: 0 0 1em -.5em #000;
			opacity: 0;
			transition: opacity 200ms;
			border: 1px solid rgba(0,0,0,0.15);
			margin-top: -.5em;
			padding: @fact0215;
			box-sizing: border-box;
			display: none;
			> div:last-child {
				margin-bottom: 0;
			}
		}
		&:hover .pl-alt-after {
			opacity: 1;
			z-index: 1;
			display: block;
		}

		.pl-alt-after:before {
			content: '';
			border: 1em solid transparent;
			border-bottom-color: #fff;
			position: absolute;
			top:-2em;
			left: 50%;
			margin-left: -1em;
		}

		.pl-price .pl-sale-price + .pl-regular-price:after {
			background-color: #f00;
		}

		.pl-gallery .pl-effect {
			bottom: auto;
			bottom: @fact0220;
			left: @fact0220;
		}
	}


	/*------------------------------------------------------------------
	[Loop]
	-------------------------------------------------------------------*/

	&.pl-loop {
		box-sizing: border-box;
		font-size: 1em;
		line-height: 1em;

		&.pl-table {
			.pl-magic {
				padding: 1.5em 1.5em 0;
				border: 1px solid rgba(0,0,0,0.1);
			}
			.pl-alt-after {

				.pl-meta-wrap {
					margin-top: 1.5em;
				}
				.ivpa-content {
					float: left;
					width: auto;
					clear: none;
					margin-top: 0;
					margin-bottom: 1.5em;
				}
			}
			.pl-quickview-trigger {
				top: auto;
				bottom: 1em;
			}
		}

		.pl-magic {
			border-radius: .5em;
		}
		.pl-magic .pl-alt {
			box-shadow: 0 .25em 1.25em 0 rgba(0,0,0,0.04), 0 .33em 2.5em 0 rgba(0,0,0,0.02);
			transition: box-shadow 200ms, transform 200ms;
		}

		&:hover .pl-magic .pl-alt {
			box-shadow: 0 .5em 1.5em 0 rgba(0,0,0,0.1), 0 .75em 3em 0 rgba(0,0,0,0.05);
		}

		.pl-figure-wrapper {
			box-shadow: 0 .25em .75em 0 rgba(0,0,0,0.04), 0 .33em 1.5em 0 rgba(0,0,0,0.02);
			.pl-effect:after {
				background-size: 1em;
			}
		}
		&.pl-table .pl-figure-wrapper {
			margin:  0 2em 1.5em 0;
			border-radius: .5em;
			border: 1px solid rgba(0,0,0,0.1);
		}
		&.pl-grid {
			margin: 0;
			.pl-excerpt {
				opacity: .75;
			}
		}

		.pl-title {
			.create-size(@text_size, font-size, 1.25, 0.2);
			line-height: 1.2em;
			margin-bottom: 1em;
			font-weight: 600;
			color: #444;
		}
		&.pl-table .pl-title {
			font-size: 2em;
		}

		.pl-excerpt {
			color : #999;
			margin-bottom: 1em;
			font-size: 1em;
			line-height: 1.5em;
			height: unit(@excerpt_grid, em)*1.5;
			overflow:hidden;
		}
		&.pl-table .pl-excerpt {
			height: unit(@excerpt_table, em)*1.5;
		}

		.pl-loop-product-link {
			display: block;
		}

		.pl-price {
			display: block;
			.create-size(@text_size, font-size, 1.15, 0.1);
			font-weight: 600;
			padding-bottom: @fact0220;
		}

		&.pl-table .pl-price {
			font-size: 1.5em;
		}

		.pl-addtocart > a {
			margin-bottom: 0;
		}

		&.pl-table .pl-addtocart {
			float: right;
			margin-bottom: 1.5em;
			margin-top: -1em;
			a {
				margin-bottom: 0;
			}
		}

		.pl-quickview-trigger {
			text-indent: -9999px;
			padding-left: 0;
			padding-right: 0;
			border-radius: 100px;
			bottom: auto;
			overflow: hidden;
			width: 3em;
			height: 2em;
			bottom: 1em;
			left: 4.5em;
		}

		.pl-quickview-trigger:after {
			top: .25em;
			right: .75em;
			width: 1.5em;
			height: 1.5em;
		}

		.ivpa-content {
			margin-top: 1em;
			margin-bottom: 0;
		}

		.pl-alt-after:empty {
			display: none;
		}

	}


	/*------------------------------------------------------------------
	[Quickview]
	-------------------------------------------------------------------*/

	&.pl-quickview-product {
		.pl-title {
			font-size: 3em;
			line-height: 1.5em;
			margin-bottom: 1.25em;
			font-weight: 600;
			color: #666;
		}
		.pl-excerpt {
			color : #aaa;
			margin-bottom: 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}
		.pl-price {
			display: block;
			font-size: 1.5em;
			font-weight: 600;
			margin-bottom: 1.25em;
		}
	}

	/*------------------------------------------------------------------
	[Meta]
	-------------------------------------------------------------------*/

	.pl-meta-wrap a {
		color: #aaa;
		&:hover {
			color:ccc;
		}
	}
	.pl-meta-wrap {
		margin-bottom: 1.5em;
		color: #ccc;
	}
	&.pl-grid .pl-meta-wrap {
		margin-bottom: 1em;
	}
	.pl-product-meta {
		display: inline-block;
		font-size: .75em;
		line-height: 1.25em;
		margin-bottom: .25em;
	}
	.pl-product-meta-separator:after {
		content: ': ';
	}

	&.pl-product .pl-figure-in[class^="pl-imghvr-"] .pl-effect,
	&.pl-product .pl-figure-in[class*=" pl-imghvr-"] .pl-effect {
		&:after {
			left: 3.5em;
			bottom: 1em;
			top: auto;
			width: 3em;
			height: 2em;
			background-color: #fff;
			color: inherit;
		}
	}

	&.pl-product .pl-figure-in[class^='pl-imghvr-'] .pl-effect:after,
	&.pl-product .pl-figure-in[class*=' pl-imghvr-'] .pl-effect:after {
			background-image: ~"url( "replace( "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2248px%22%20height%3D%2248px%22%20version%3D%221.1%22%20style%3D%22shape-rendering%3AgeometricPrecision%3B%20text-rendering%3AgeometricPrecision%3B%20image-rendering%3AoptimizeQuality%3B%20fill-rule%3Aevenodd%3B%20clip-rule%3Aevenodd%22%20viewBox%3D%220%200%2048%2048%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22%23!!!!!!%22%20fill-opacity%3D%22.6%22%20points%3D%220%2C22%2022%2C22%2022%2C0%2026%2C0%2026%2C22%2048%2C22%2048%2C26%2026%2C26%2026%2C48%2022%2C48%2022%2C26%200%2C26%20%22%2F%3E%3C%2Fsvg%3E", '!!!!!!', '666666' )~" )";
	}

}

