/*------------------------------------------------------------------
[Loop-4]
-------------------------------------------------------------------*/

&.pl-loop-4 {

	/*------------------------------------------------------------------
	[Loop]
	-------------------------------------------------------------------*/

	&.pl-loop {
		position: relative;
		font-size: 1em;
		line-height: 1em;

		&.pl-table {
			margin-bottom: 1.5em;
		}

		.pl-magic {
			padding: 0 @fact0215 0;
			box-shadow: 0 .25em 1.25em 0 fade(@accent_color, 8%), 0 .33em 2.5em 0 fade(@accent_color, 4%);
			border-radius: .5em;
			transition: box-shadow 200ms, transform 200ms;
			background-color: @accent_color;
			overflow: hidden;
		}

		&:hover .pl-magic {
			box-shadow: 0 .5em 1.5em 0 fade(@accent_color, 10%), 0 .75em 3em 0 fade(@accent_color, 5%);
		}

		&.pl-table .pl-magic {
			padding: 1.5em 1.5em 0;
		}

		/*&:nth-of-type(1n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 5%)
		}
		&:nth-of-type(2n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 17.5%)
		}
		&:nth-of-type(3n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 10%)
		}
		&:nth-of-type(5n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 15%)
		}
		&:nth-of-type(6n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 12.5%)
		}
		&:nth-of-type(7n) .pl-magic {
			background-color: mix(@hover_color, @accent_color, 7.5%)
		}*/

		.pl-figure-wrapper {
			position: relative;
			margin: 0 -@fact0215 @fact0215;
			.pl-figure-in {
				border-radius: .5em;
			}
		}

		&.pl-table .pl-figure-wrapper {
			margin:  0 2em 1.5em 0;
		}

		.pl-title {
			.create-size(@text_size, font-size, 2, 0.2);
			line-height: 1.2em;
			margin-bottom: .5em;
			font-weight: 700;
			color: contrast( @accent_color, #444, #fff, 70% );
			letter-spacing: -.015em;
		}

		&.pl-table .pl-title {
			font-size: 2em;
		}

		.pl-excerpt {
			color : contrast( @accent_color, #414141, #eaeaea, 70% );
			margin-bottom: 1.5em;
			font-size: 1em;
			line-height: 1.5em;
			height: unit(@excerpt_grid, em)*1.5;
			overflow:hidden;
		}

		&.pl-table .pl-excerpt {
			height: unit(@excerpt_table, em)*1.5;
		}

		.pl-loop-product-link {
			display: block;
		}

		.pl-price {
			display: block;
			.create-size(@text_size, font-size, 1.5, 0.1);
			font-weight: 600;
			margin-bottom: 1.25em;
		}
		&.pl-table .pl-price {
			font-size: 1.5em;
		}

		.pl-regular-price,
		.pl-sale-price {
			color: contrast( @accent_color, #444, #fff, 70% );
		}
		.pl-sale-price + .pl-regular-price {
			color: contrast( @accent_color, rgba(0,0,0,0.6), rgba(255,255,255,0.6), 70% );
		}
		.pl-sale-price + .pl-regular-price:after {
			background-color: contrast( @accent_color, rgba(0,0,0,0.6), rgba(255,255,255,0.6), 70% );
		}

		.pl-addtocart {
			margin-bottom: @fact0210;
		}
		&.pl-table .pl-addtocart {
			float: right;
		}

		&.pl-table .ivpa-content {
			float: left;
			width: auto;
			clear: none;
			margin-top: 0;
			margin-bottom: 1.5em;
		}
	}


	/*------------------------------------------------------------------
	[Quickview]
	-------------------------------------------------------------------*/

	&.pl-quickview-product {
		.pl-title {
			font-size: 3em;
			line-height: 1.5em;
			margin-bottom: 1.25em;
			font-weight: 600;
			color: #666;
		}
		.pl-excerpt {
			color : #888;
			margin-bottom: 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}
		.pl-price {
			display: block;
			font-size: 1.5em;
			font-weight: 600;
			margin-bottom: 1.25em;
		}
	}

	/*------------------------------------------------------------------
	[Meta]
	-------------------------------------------------------------------*/

	.pl-meta-wrap {
		margin-bottom: .75em;
		color: contrast( @accent_color, #4a4a4a, #fafafa, 70% );
		text-transform: uppercase;
		a {
			color: contrast( @accent_color, #414141, #f4f4f4, 70% );
			&:hover {
				color: contrast( @accent_color, rgba(0,0,0,0.6), rgba(255,255,255,0.6), 70% );
			}
		}
		.pl-product-meta {
			display: inline-block;
			font-size: .85em;
			line-height: 1.25em;
			margin-bottom: .25em;
		}
		.pl-product-meta-separator:after {
			content: ': ';
		}
	}

}