/* effects!
   ----------------------------- */

.pl-overlay-effect {
	background-color: fade( @hover_color, 15% )
}

[class^='pl-imghvr-'],
[class*=' pl-imghvr-'] {
	position: relative;
	margin: 0;
	max-width: 100%;
	color: #fff;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.pl-figure-in[class^='pl-imghvr-'] > img,
.pl-figure-in[class*=' pl-imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}

.pl-product .pl-figure-in[class^='pl-imghvr-'] .pl-effect,
.pl-product .pl-figure-in[class*=' pl-imghvr-'] .pl-effect {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity .3s ease, transform .2s ease;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		bottom: 0;
		left: 50%;
		right: 0;
		width: @fact0250;
		height: @fact0250;
		margin-top: -@fact0250*.5;
		margin-left: -@fact0250*.5;
		color: #fff;
		background-size: @fact0250*2/3;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius:100em;
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 .25em 1.25em 0 rgba(0,0,0,0.08), 0 .33em 2.5em 0 rgba(0,0,0,0.04);
	}
}

.pl-figure-in[class^='pl-imghvr-'], .pl-figure-in[class*=' pl-imghvr-'], .pl-figure-in[class^='pl-imghvr-']:before,
.pl-figure-in[class^='pl-imghvr-']:after, .pl-figure-in[class*=' pl-imghvr-']:before, .pl-figure-in[class*=' pl-imghvr-']:after,
.pl-figure-in[class^='pl-imghvr-'] *, .pl-figure-in[class*=' pl-imghvr-'] *, .pl-figure-in[class^='pl-imghvr-'] *:before,
.pl-figure-in[class^='pl-imghvr-'] *:after, .pl-figure-in[class*=' pl-imghvr-'] *:before, .pl-figure-in[class*=' pl-imghvr-'] *:after {
	box-sizing: border-box;
	-webkit-transition: opacity .3s ease, transform .2s ease;
	-moz-transition: opacity .3s ease, transform .2s ease;
	transition: opacity .3s ease, transform .2s ease;
}

/* pl-imghvr-*
   ----------------------------- */
.pl-product .pl-figure-in[class^='pl-imghvr-'] .pl-effect,
.pl-product .pl-figure-in[class*=' pl-imghvr-'] .pl-effect {
	opacity: 0;
}
.pl-product:hover .pl-figure-in[class^='pl-imghvr-'] .pl-effect,
.pl-product:hover .pl-figure-in[class*=' pl-imghvr-'] .pl-effect {
	opacity: 1;
}

/* pl-imghvr-slide-*
   ----------------------------- */
.pl-product:hover .pl-figure-in[class^='pl-imghvr-slide-'] .pl-effect,
.pl-product:hover .pl-figure-in[class*=' pl-imghvr-slide-'] .pl-effect {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

/* pl-imghvr-slide-up
   ----------------------------- */
.pl-imghvr-slide-up .pl-effect {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}

/* pl-imghvr-slide-down
   ----------------------------- */
.pl-imghvr-slide-down .pl-effect {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* pl-imghvr-slide-left
   ----------------------------- */
.pl-imghvr-slide-left .pl-effect {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

/* pl-imghvr-slide-right
   ----------------------------- */
.pl-imghvr-slide-right .pl-effect {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* pl-imghvr-slide-top-left
   ----------------------------- */
.pl-imghvr-slide-top-left .pl-effect {
	-webkit-transform: translate(-100%, -100%);
	-moz-transform: translate(-100%, -100%);
	-ms-transform: translate(-100%, -100%);
	-o-transform: translate(-100%, -100%);
	transform: translate(-100%, -100%);
}

/* pl-imghvr-slide-top-right
   ----------------------------- */
.pl-imghvr-slide-top-right .pl-effect {
	-webkit-transform: translate(100%, -100%);
	-moz-transform: translate(100%, -100%);
	-ms-transform: translate(100%, -100%);
	-o-transform: translate(100%, -100%);
	transform: translate(100%, -100%);
}

/* pl-imghvr-slide-bottom-left
   ----------------------------- */
.pl-imghvr-slide-bottom-left .pl-effect {
	-webkit-transform: translate(-100%, 100%);
	-moz-transform: translate(-100%, 100%);
	-ms-transform: translate(-100%, 100%);
	-o-transform: translate(-100%, 100%);
	transform: translate(-100%, 100%);
}

/* pl-imghvr-slide-bottom-right
   ----------------------------- */
.pl-imghvr-slide-bottom-right .pl-effect {
	-webkit-transform: translate(100%, 100%);
	-moz-transform: translate(100%, 100%);
	-ms-transform: translate(100%, 100%);
	-o-transform: translate(100%, 100%);
	transform: translate(100%, 100%);
}

/* pl-imghvr-zoom-in
   ----------------------------- */
.pl-imghvr-zoom-in .pl-effect {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}
.pl-product:hover .pl-imghvr-zoom-in .pl-effect {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* pl-gallery
   ----------------------------- */
.pl-gallery .pl-effect .pl-gallery-img:hover {
	box-shadow: 0 .5em 1.5em 0 rgba(0,0,0,0.1), 0 .75em 3em 0 rgba(0,0,0,0.05);
}
.pl-gallery .pl-effect .pl-gallery-img {
	width: 3em;
	height: 3em;
	margin-top: .5em;
	margin-right: .5em;
	float: left;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 .25em 1.25em 0 rgba(0,0,0,0.08), 0 .33em 2.5em 0 rgba(0,0,0,0.04);
	transition: box-shadow 200ms, transform 200ms;
	overflow: hidden;
}
.pl-gallery .pl-effect {
	position: absolute;
	bottom: .5em;
	left: .5em;
}
.pl-gallery .pl-effect .pl-gallery-img img + img {
	display: none;
}