/*------------------------------------------------------------------
[Responsive]
-------------------------------------------------------------------*/


@media only screen and (max-width: 768px) {
	.pl-grid.pl-product {
		width: 50% !important;
	}
}

@media only screen and (max-width: 640px) {
	.pl-grid.pl-product {
		width: 100% !important;
	}
}
