/*------------------------------------------------------------------
[Product Loops for WooCommerce CSS]

[Table of contents]

 . Theme Support
 . Animation
1. General
2. Loop-1
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[RTL]
-------------------------------------------------------------------*/

@import "_rtl";
@import "_functions";
@import "_effects";

/*------------------------------------------------------------------
[Animation]
-------------------------------------------------------------------*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*------------------------------------------------------------------
[Theme Support]
-------------------------------------------------------------------*/

body.shopkit .woocommerce-ordering + .pl-grid-table {
	margin-right: 1em;
	margin-top: -.35em;
}
#content .wpb_wrapper .pl-grid-table {
	position: relative;
	float: right;
	margin-bottom: -2.5em !important;
	z-index: 1;
}

.pl-loops .products,
.pl-loops .woocommerce {
	width: 100%;
}


/*------------------------------------------------------------------
[Image Ratios]
-------------------------------------------------------------------*/

.pl-product {

	.pl-effect {
		/*overflow: hidden;*/
	}

	.pl-figure-wrapper {
		overflow: hidden;
	}
	.pl-figure {
		position: relative;
		left: -0.25%;
		width: 100.5%;
	}

	.pl-image-ratio .pl-figure-in {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.pl-figure-x img {
		height: 100% !important;
		width: auto !important;
		position: relative;
		max-width: none;
	}

	.pl-figure-x.pl-image-start img {

	}

	.pl-figure-x.pl-image-center img {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.pl-figure-x.pl-image-end img {
		left: 100%;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.pl-figure-y img {
		height: auto !important;
		width: 100% !important;
		position: relative;

	}

	.pl-figure-y.pl-image-start img {

	}

	.pl-figure-y.pl-image-center img {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.pl-figure-y.pl-image-end img {
		top: 100%;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	.pl-image-ratio-1-1 {
		padding-bottom:100%;
	}
	.pl-image-ratio-1-2 {
		padding-bottom:50%;
	}
	.pl-image-ratio-1-3 {
		padding-bottom:33.33%;
	}
	.pl-image-ratio-4-3 {
		padding-bottom:75%;
	}
	.pl-image-ratio-16-9 {
		padding-bottom:56.25%;
	}
	.pl-image-ratio-5-3 {
		padding-bottom:60%;
	}
	.pl-image-ratio-2-1 {
		padding-bottom:200%;
	}
	.pl-image-ratio-3-1 {
		padding-bottom:300%;
	}
	.pl-image-ratio-3-4 {
		padding-bottom:133.33%;
	}
	.pl-image-ratio-9-16 {
		padding-bottom:177.77%;
	}
	.pl-image-ratio-3-5 {
		padding-bottom:166.66%;
	}

}


/*------------------------------------------------------------------
[General]
-------------------------------------------------------------------*/

.pl-product .pl-figure img {
	display: block;
	width: 100%;
}

.pl-magic {
	position: relative;
	box-sizing: border-box;
}

.pl-product {
	//margin-bottom: unit(@gap, em)*0.125;
	float: left;
	box-sizing: border-box;
}

.pl-magic:before,
.pl-magic:after,
.pl-product:before,
.pl-product:after {
	content: '';
	display: table;
	clear: both;
}

.pl-table .pl-button.pl-add-to-cart {
	margin-left: 1em;
}
.pl-button.pl-add-to-cart {
	text-indent: 0px;
	transition: text-indent 200ms;
}
.pl-button.pl-adding-to-cart {
	text-indent: -200px;
}
.pl-button.pl-adding-to-cart:after {
	content: '';
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	top: 50%;
	left: 50%;
	margin-top: -.6em;
	margin-left: -.6em;
	border-radius: 100%;
	border: 2px solid #fff;
	border-bottom-color: #222;
	-webkit-animation:spin .5s linear infinite;
	-moz-animation:spin .5s linear infinite;
	animation:spin .5s linear infinite;
	box-sizing: border-box;
}
.pl-figure-wrapper {
	position: relative;
}


/*------------------------------------------------------------------
[Columns]
-------------------------------------------------------------------*/

.pl-loops {
	margin: 0 -.75em 0;
}

.pl-column-2,
.pl-column-3,
.pl-column-4,
.pl-column-5,
.pl-column-6,
.pl-column-7,
.pl-column-8,
.pl-column-9,
.pl-column-10 {
	padding: 0 .75em 1.5em;
}

.pl-column-1 {
	width: 100%;
}
.pl-column-2 {
	width: 50%;
}
.pl-column-3 {
	width: 33.33%;
}
.pl-column-4 {
	width: 25%;
}
.pl-column-5 {
	width: 20%;
}
.pl-column-6 {
	width: 16.66%;
}
.pl-column-7 {
	width: 14.28%;
}
.pl-column-8 {
	width: 12.5%;
}
.pl-column-9 {
	width: 11.11%;
}
.pl-column-10 {
	width: 10%;
}

.pl-fluid {
	.pl-column-2:nth-of-type(2n+1),
	.pl-column-3:nth-of-type(3n+1),
	.pl-column-4:nth-of-type(4n+1),
	.pl-column-5:nth-of-type(5n+1),
	.pl-column-6:nth-of-type(6n+1),
	.pl-column-7:nth-of-type(7n+1),
	.pl-column-8:nth-of-type(8n+1),
	.pl-column-9:nth-of-type(9n+1),
	.pl-column-10:nth-of-type(10n+1) {
		clear: both;
	}
}

.pl-loop {
	padding: 0 .75em 1.5em;
}

.columns-1 .pl-loop.pl-column-inherit {
	width: 100%;
}
.columns-2 .pl-loop.pl-column-inherit {
	width: 50%;
}
.columns-3 .pl-loop.pl-column-inherit {
	width: 33.33%;
}
.columns-4 .pl-loop.pl-column-inherit {
	width: 25%;
}
.columns-5 .pl-loop.pl-column-inherit {
	width: 20%;
}
.columns-6 .pl-loop.pl-column-inherit {
	width: 16.66%;
}
.columns-7 .pl-loop.pl-column-inherit {
	width: 14.28%;
}
.columns-8 .pl-loop.pl-column-inherit {
	width: 12.5%;
}
.columns-9 .pl-loop.pl-column-inherit {
	width: 11.11%;
}
.columns-10 .pl-loop.pl-column-inherit {
	width: 10%;
}

.columns-2 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(2n+1),
.columns-3 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(3n+1),
.columns-4 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(4n+1),
.columns-5 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(5n+1),
.columns-6 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(6n+1),
.columns-7 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(7n+1),
.columns-8 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(8n+1),
.columns-9 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(9n+1),
.columns-10 .pl-fluid .pl-loop.pl-column-inherit:nth-of-type(10n+1) {
	clear: both;
}

.pl-loops .pl-loop.pl-table {
	width: 100%;
}

.pl-table
.pl-figure:after {
	content: '';
	display: table;
	clear: both;
}

.pl-table
.pl-figure-wrapper {
	float: left;
	margin-right: 2em;
}


/*------------------------------------------------------------------
[Grid Table View]
-------------------------------------------------------------------*/

.pl-grid-table:before,
.pl-grid-table:after {
	content:'';
	display: table;
	clear: both;
}
.pl-grid-table {
	height: 3em;
	margin-bottom: 2em;
	float: right;
}
.pl-grid-table
.pl-grid,
.pl-grid-table
.pl-table {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 3em;
	height: 3em;
	line-height: 3em;
}
.pl-grid-table .pl-grid:after,
.pl-grid-table .pl-table:after {
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	top: 50%;
	left: 50%;
	margin-top: -1em;
	margin-left: -1em;
	box-sizing: border-box;
	background-image: url("@{url}/assets/images/loop-sprites.svg");
	background-size: 12em;
	background-position: -4em 0;
}
.pl-grid-table .pl-table:after {
	background-position: -6em 0;
}
.pl-grid-table > * {
	vertical-align: middle;
}
.pl-grid-table .pl-separator {
	display: inline-block;
	height: 24px;
	line-height: 3em;
	width: 1px;
	background-color: #ccc;
}





/*------------------------------------------------------------------
[Prices]
-------------------------------------------------------------------*/


.pl-sale-price,
.pl-regular-price {
	color: #666;
	white-space: nowrap;
}
.pl-price .pl-sale-price + .pl-regular-price {
	position: relative;
	top: -.5em;
	font-size: .8em;
	color: #aaa;
	margin-left: 1em;
}
.pl-price .pl-sale-price + .pl-regular-price:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -10%;
	width: 120%;
	height: 1px;
	background-color: #aaa;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}



/*------------------------------------------------------------------
[Quickview]
-------------------------------------------------------------------*/

.pl-quickview {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 92px 42px !important;
	background-color: rgba(0,0,0,0.87);
	z-index: 33332;
	text-align: center;
}
	.pl-quickview:before {
		content: '';
		height: 100%;
		display:inline-block;
		vertical-align: middle;
	}

.pl-quickview-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	cursor: url("@{url}/assets/images/cursor-close.png"), auto;
}
.pl-quickview-close-button {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 32px;
	color: #ccc;
}

.pl-quickview-inner {
	position: relative;
	z-index: 2;
	background-color: #fff;
	color: #888;
	width: 100%;
	max-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	padding: 4em 4em 1em;
	border-radius: 2px;
	box-shadow: 0 0 3em -0.5em #000;
	display:inline-block;
	vertical-align: middle;
	text-align: left;

	.pl-images,
	.pl-summary {
		width: 49%;
		width: ~"calc( 50% - 1.5em )";
		margin-bottom: 4em;
	}
	.pl-images {
		position: relative;
		float: left;
	}
	.pl-summary {
		float: right;
		div.pl-meta-wrap {
			margin-bottom: 1.25em;
		}
	}
	.pl-related.pl-loops {
		clear: both;
	}
	.pl-related:before,
	.pl-related:after,
	.pl-quickview-product:before,
	.pl-quickview-product:after {
		content: '';
		display: table;
		clear: both;
	}

	.pl-loops.pl-related .pl-product:last-of-type {
		margin-bottom: 1em!important;
	}

}
.pl-quickview .pl-product.pl-quickview-product {
	margin-bottom: 0;
}

/*.pl-column-7 .pl-quickview-trigger,
.pl-column-8 .pl-quickview-trigger,
.pl-column-9 .pl-quickview-trigger,
.pl-column-10 .pl-quickview-trigger {
	text-indent: -99999px;
	padding-left: .5em;
	width: 0;
	bottom: 0;
	right: 0;
}
*/

.pl-quickview-trigger {
	position: absolute;
	bottom: .5em;
	right: .5em;
	/*width: 3em;*/
	background-color: rgba(255,255,255,0.87);
	color: #999;
	line-height: 3em;
	text-transform: uppercase;
	padding-right: 2.5em;
	padding-left: 1em;
	z-index: 1;
	height: 3em;
	opacity: 0;
	cursor: pointer;
	transition: height 200ms, opacity 200ms, box-shadow 200ms;
	border-radius: 3px;
	box-shadow: 0 2px 5px -1px rgba(0,0,0,0.16), 0 2px 10px -1px rgba(0,0,0,0.12);
	box-sizing: border-box;
	text-shadow: 0.0675em 0.0675em 0 #fff;
	text-indent: -9999px;
	width: 0;
	padding-left: .5em;
}

.pl-quickview-trigger:after {
	content: '';
	position: absolute;
	top: .75em;
	right: .75em;
	width: 1.5em;
	height: 1.5em;
	background-image: url("@{url}/assets/images/loop-sprites.svg");
	background-size: 9em;
	background-position: 3em 0;
	box-sizing: border-box;
}
.pl-quickview-trigger.pl-active:after {
	opacity: 0;
}
.pl-quickview-trigger.pl-active:before {
	content: '';
	border: 2px solid #ccc;
	position: absolute;
	top: 0.7em;
	right: 0.7em;
	width: 1.6em;
	height: 1.6em;
	border-radius: 100%;
	-webkit-animation: spin .5s linear infinite;
	-moz-animation: spin .5s linear infinite;
	animation: spin .5s linear infinite;
	box-sizing: border-box;
}
.pl-quickview-trigger.pl-active {
	text-indent: -99999px;
	padding-left: .5em;
	width: 0;
}
.pl-quickview-trigger.pl-active,
.pl-product:hover .pl-quickview-trigger {
	opacity: 1;
}
.pl-quickview-inner .pl-product.pl-quickview-product .pl-excerpt {
	height: auto;
	overflow: visible;
}


/*------------------------------------------------------------------
[Display]
-------------------------------------------------------------------*/

.pl-table .pl-hide-if-table,
.pl-grid .pl-hide-if-grid {
	display: none!important;
}


/*------------------------------------------------------------------
[Cart/Checkout]
-------------------------------------------------------------------*/

.pl-product .pl-cart,
.pl-product .pl-checkout {
	width: 0;
	margin-left: .5em;
}
.pl-cart:after,
.pl-checkout:after {
	content: '';
	position: absolute;
	width: 1.6em;
	height: 1.6em;
	top: 50%;
	left: 50%;
	margin-top: -.8em;
	margin-left: -.8em;
	box-sizing: border-box;
	background-image: url("@{url}/assets/images/loop-sprites.svg");
	background-size: 9.6em;
	background-position: 0 0;
}
.pl-checkout:after {
	background-position: -1.6em 0;
}



/*------------------------------------------------------------------
[Loops]
-------------------------------------------------------------------*/

.create-size(@text_sizes, @name, @size, @factor) when (@text_sizes>7) {
	@{name}: @size - 4*@factor * 1em;
}
.create-size(@text_sizes, @name, @size, @factor) when (@text_sizes<8) {
	@{name}: @size - ( unit(@text_sizes, em) - 3 ) * @factor * 1em;
}

.create-loops(@names, @loops, @accent_colors, @hover_colors, @columns, @text_sizes, @gaps, @excerpt_grids, @excerpt_tables, @image_width_tables, @buttons, @length);

.create-loops(@names, @loops, @accent_colors, @hover_colors, @columns, @text_sizes, @gaps, @excerpt_grids, @excerpt_tables, @image_width_tables, @buttons, @length) when (@length = 0) {
}
.create-loops(@names, @loops, @accent_colors, @hover_colors, @columns, @text_sizes, @gaps, @excerpt_grids, @excerpt_tables, @image_width_tables, @buttons, @length) when (@length > 0) {

	.create-loops(@names; @loops; @accent_colors; @hover_colors; @columns; @text_sizes; @gaps; @excerpt_grids; @excerpt_tables; @image_width_tables; @buttons; (@length - 1));

	@name : extract(@names, @length);
	@loop : extract(@loops, @length);
	@accent_color : extract(@accent_colors, @length);
	@hover_color : extract(@hover_colors, @length);
	@column : extract(@columns, @length);
	@text_size : extract(@text_sizes, @length);
	@gap : extract(@gaps, @length);
	@excerpt_grid : extract(@excerpt_grids, @length);
	@excerpt_table : extract(@excerpt_tables, @length);
	@image_width_table : extract(@image_width_tables, @length);
	@button : extract(@buttons, @length);

	.create-loop(@name, @loop, @accent_color, @hover_color, @column, @text_size, @gap, @excerpt_grid, @excerpt_table, @image_width_table, @button);

}

.create-loop(@name, @loop, @accent_color, @hover_color, @column, @text_size, @gap, @excerpt_grid, @excerpt_table, @image_width_table, @button) {

	.calc-sizes(@text_size, 0.2);

	.calc-sizes(@text_sizes, @factor) when (@text_sizes>7) {
		@fact0210: 1 - 4*@factor * 1em;
		@fact0215: 1.5 - 4*@factor * 1em;
		@fact0220: 2 - 4*@factor * 1em;
		@fact0225: 2.5 - 8*@factor * 2em;
		@fact0230: 3 - 8*@factor * 2em;
		@fact0240: 4 - 8*@factor * 2em;
		@fact0250: 5 - 4*@factor * 2em;
	}

	.calc-sizes(@text_sizes, @factor) when (@text_sizes<8) {
		@fact0210: 1 - ( unit(@text_sizes, em) - 3 ) * @factor * 1em;
		@fact0215: 1.5 - ( unit(@text_sizes, em) - 3 ) * @factor * 1em;
		@fact0220: 2 - ( unit(@text_sizes, em) - 3 ) * @factor * 1em;
		@fact0225: 2.5 - ( unit(@text_sizes, em) - 3 ) * @factor * 2em;
		@fact0230: 3 - ( unit(@text_sizes, em) - 3 ) * @factor * 2em;
		@fact0240: 4 - ( unit(@text_sizes, em) - 3 ) * @factor * 2em;
		@fact0250: 5 - ( unit(@text_sizes, em) - 3 ) * @factor * 2em;
	}

	.pllp-@{name} {
		&.pl-loops {
			margin: 0 unit(@gap, em)*-.125 3em;
		}

		.pl-loop {
			padding: 0 unit(@gap, em)*0.125 unit(@gap, em)*.25;
		}

		[class^='pl-imghvr-'] .pl-effect,
		[class^=' pl-imghvr-'] .pl-effect {
			background-color: fade(@hover_color, 33%);
		}

		.pl-quickview-trigger.pl-active:before {
			border-bottom-color: @accent_color;
		}

		&.pl-table {
			.pl-figure-wrapper  {
				max-width: 50%;
			}
			.pl-figure {
				width: unit(@image_width_table, em);
			}
		}

		.pl-product .pl-figure-in[class^='pl-imghvr-'] .pl-effect:after,
		.pl-product .pl-figure-in[class*=' pl-imghvr-'] .pl-effect:after {
				background-image: ~"url( "replace( "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2248px%22%20height%3D%2248px%22%20version%3D%221.1%22%20style%3D%22shape-rendering%3AgeometricPrecision%3B%20text-rendering%3AgeometricPrecision%3B%20image-rendering%3AoptimizeQuality%3B%20fill-rule%3Aevenodd%3B%20clip-rule%3Aevenodd%22%20viewBox%3D%220%200%2048%2048%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22%23!!!!!!%22%20fill-opacity%3D%22.6%22%20points%3D%220%2C22%2022%2C22%2022%2C0%2026%2C0%2026%2C22%2048%2C22%2048%2C26%2026%2C26%2026%2C48%2022%2C48%2022%2C26%200%2C26%20%22%2F%3E%3C%2Fsvg%3E", '!!!!!!', replace( ~"@{accent_color}", '#', '' ) )~" )";
		}


		@import (multiple) "loops/_@{loop}";
		@import (multiple) "loops/buttons/@{button}";
	}

}

/*------------------------------------------------------------------
[Support]
-------------------------------------------------------------------*/

.pl-fix {
	margin-right: 0!important;
}

.pl-product {
	#ivpa-content {
		margin-top: 0;
		margin-bottom: 0.75em;
	}
	.ivpa-content {
		margin-top: 0;
		margin-bottom: 1em;
	}
}



/*------------------------------------------------------------------
[Attributes]
-------------------------------------------------------------------*/

.pl-product-attribute {
	display: block;
	color: #aaa;
	line-height: 1.25em;
}
.pl-product-attribute-separator:after {
	content: ': ';
}


.pl-loop:hover {
	z-index: 10;
}

@import "_responsive";